<div class="h-screen text-white bg-[url('background.jpg')] bg-no-repeat bg-cover bg-center flex justify-center items-center">
  <div class="flex flex-col items-center w-2/5 h-auto">
    <div class="logo"><a href="/"><%= image_tag("logo.jpg", {:style => "width:80px;"}) %></a></div>
    <div class="text-5xl font-bold">
      i<span class="text-indigo-800">S</span><span class="text-orange-600">tack</span>&nbsp;<span class="text-xl text-yellow-200">wallet</span>
    </div>
    <div class="text-2xl font-bold">Login using your credentials</div> <br />
    <div class="text-white flex flex-col justify-center w-full">
      
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full p-2 text-black text-sm rounded", placeholder: "username" %>
            </div>
            <br />
            <div class="field">
              <%= f.password_field :password, autocomplete: "current-password", class: "w-full p-2 text-black text-sm rounded", placeholder: "username" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
            <br />
            <div class="actions flex flex-col justify-center text-center">
              <%= f.submit "Log in", class: "w-full bg-violet-700 hover:bg-violet-600 text-white font-bold py-1 px-4 border-b-4 border-violet-900 hover:border-violet-700 rounded" %>
              <br />
              <%= link_to "Sign up", new_trader_registration_path , class: "w-full bg-violet-700 hover:bg-violet-600 text-white font-bold py-1 px-4 border-b-4 border-violet-900 hover:border-violet-700 rounded" %>
            </div>
          <% end %> 
    </div>
  </div>
</div>

