<head>
  <%= stylesheet_link_tag "admin" %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&family=Oswald:wght@400;500;600;700&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="brokerbtn">
    <%= form_with scope: :user, method: :put, url: users_money_path(@user.id), local: true do |f| %>
      <div class="modal_layout">
        <p class="edit_title user_text">Account Top-Up</p>
        <%= f.label :money, "Money", class:"user_text" %>
        <%= f.text_field :money, class:"textfield", placeholder: 'Input Last Name', value:0 %>

        <%= f.submit "ADD MONEY", :class => "update_user" %>
      </div>
    <% end %>
    <h1 class="user_text"><%= @user.username %></h1>
    <h1 class="user_text"><%= @user.broker_role %></h1>
    <h1 class="user_text"><%= @user.money %></h1>
    <%= link_to stocks_path, :class => "user_link" do %>
      <h4 class="user_text approve">Stock List</h4>
    <% end %>
  </div>

  <% @user_stocks.each do |t| %>
    <h4 class="user_text"><%= t.company %></h4>
    <h4 class="user_text"><%= t.ticker %></h4>
    <h4 class="user_text"><%= t.change_percent %></h4>
    <h4 class="user_text"><%= t.quantity %></h4>
    <h4 class="user_text"><%= t.price %></h4>
    <h4 class="user_text"><%= t.total_price %></h4>
    <%= link_to "Sell", search_stock_path(ticker: t.ticker, action_made: "sell")%>
  <% end %>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Open modal
  </button>

  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <%= link_to users_request_path(:id => @user.id), :class => "user_link" do %>
            <h4 class="user_text approve">Apply for Change</h4>
          <% end %>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
  <%= link_to "Logout", logout_path, :class => "logoutbtn" %>
  <div class="navbar_admin"></div>
  <%= image_tag("logotxt.png", :class => "logo") %>
  <div class="body-bg"></div>
</body>
