<head>
  <%= stylesheet_link_tag "admin" %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&family=Oswald:wght@400;500;600;700&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <%= image_tag("logotxt.png", :class => "logo") %>
  <div class="navbar_admin"></div>
  <h1 class="admin_title">Admin Dashboard</h1>

  <%= link_to logout_path, method: :get do %>
    <%= image_tag("logout.png", :class => "logouticon icons", :title => "Logout") %>
  <% end %>
  
  <%= link_to users_new_admin_path do %>
    <%= image_tag("add.png", :class => "new_usericon icons", :title => "Add New User") %>
  <% end %>

  <%= image_tag("transaction.png", :id => "transaction", :"class" => "icons", :title => "See Transactions") %>

  <%= image_tag("user.png", :id => "user", :"class" => "icons", :title => "See Users") %>

  <div class="body_layout">
    <div class="admin_section">
      <div class="pending_section">
        <p class="user_text username bold section_title">Pending Brokers</p>
        <div class="user_card_pending">
          <p class="user_text bold">Username</p>
          <p class="user_text bold">Email</p>
          <p class="user_text bold">Action</p>
        </div>
        <div class="scrollable">
          <% @pending_users.each do |t| %>
            <div class="user_card_pending table-bg">
              <%= link_to users_details_path(:id => t.id), :class => "user_link" do %>
                <h4 class="user_text username" title="See User Details"><%= t.username %></h4>
              <% end %>
              
              <h4 class="user_text"><%= t.email %></h4>

              <%= link_to approve_path(:id => t.id), :class => "user_link" do %>
                <h4 class="user_text approve" title="Approve User">APPROVE</h4>
              <% end %>
            </div>
          <% end %>
        </div> 
      </div>

      <div></div>

      <div class="users_section">
        <p class="user_text username bold section_title">User List</p>
        <div class="user_card_users">
          <p class="user_text bold">Username</p>
          <p class="user_text bold">Account</p>
          <p class="user_text bold">Money</p>
        </div>
        <div class="scrollable">
          <% @users.each do |t| %>
            <div class="user_card_users table-bg">
              <%= link_to users_details_path(:id => t.id), :class => "user_link" do %>
                <h4 class="user_text username" title="See User Details"><%= t.username %></h4>
              <% end %>

              <h4 class="user_text"><%= t.broker_role %></h4>
              
              <h4 class="user_text"><%= ('%.2f' % t.money) %> $</h4>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  
  <div class="body-bg"></div>
  <div id="transaction_cover" value="0">
    <div class="transaction_section">
        <p class="user_text username bold section_title">Transaction List</p>
        <div class="user_card_transactions">
          <p class="user_text bold">Company</p>
          <p class="user_text bold">Ticker</p>
          <p class="user_text bold">Buyer</p>
          <p class="user_text bold">Seller</p>
          <p class="user_text bold">Qty</p>
          <p class="user_text bold">Value</p>
          <p class="user_text bold">Total Price</p>
        </div>
        <div class="scrollable">
          <% @transactions.each do |t| %>
            <div class="user_card_transactions table-bg">
              <h4 class="user_text"><%= t.company %></h4>
              <h4 class="user_text"><%= t.ticker %></h4>

              <% if t.buyer == "stox.io" %>
                <h4 class="user_text"><%= t.buyer %></h4>
              <% else %>
                <%= link_to users_details_path(:id => t.buyer_id), :class => "user_link" do %>
                  <h4 class="user_text username" title="See User Details"><%= t.buyer %></h4>
                <% end %>
              <% end %>

              <% if t.seller == "stox.io" %>
                <h4 class="user_text"><%= t.seller %></h4>
              <% else %>
                <%= link_to users_details_path(:id => t.broker_id), :class => "user_link" do %>
                  <h4 class="user_text username" title="See User Details"><%= t.seller %></h4>
                <% end %>
              <% end %>
              
              <h4 class="user_text"><%= t.quantity %></h4>
              <h4 class="user_text"><%= ('%.2f' % t.price) %> $</h4>
              <h4 class="user_text"><%= ('%.2f' % t.total_price) %> $</h4>
            </div>
          <% end %>
        </div>
      </div>
  </div>

  <%= javascript_pack_tag 'index.js' %>
</body>
