
<br/><br/><br/>
<div id="room-id" data-room-id=<%= @room.try(:id)%>></div>
<div id="user-id" data-user-id=<%= current_user.id%>></div>
<div class="container-fluid border border-info">
  <div class="row">
    <div class="col-3">
    <p>Hello, <%=current_user&.first_name%></p>
      <% @rooms.each do |room| %>
        <%= link_to room do%>
          <div class="card">
            <div class="card-body">
            <%if room.chat_mate(current_user).profile_pic.attached?%>
                <img src="<%=(url_for(room.chat_mate(current_user).profile_pic))%>" height="35" alt=""> 
            <%end%>
              <%=room.chat_mate(current_user).username%>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
    <div class="col-9">
      <% if @room.present?%>
        <div class="chat-room">
        <nav class="navbar navbar-light bg-light mb-4 text-center" >
          <ul class="navbar-nav">
            <li class="nav-item me-3">
              <%=@room.chat_mate(current_user).username%>
            </li>
          </ul>
        </nav>
        <div class="ui feed message-container" id="message-container-<%=@room.try(:id)%>">
          <%  @room.messages.each do |message|%>
              <%=render 'messages/message', message: message%>
          <%end%>
        </div>
          <div class="chatbox">
            <%= render 'messages/form', message: Message.new, room: @room %>
          </div>
        </div>    
      <%end%>
    </div>
</div>