<div class="h-auto bg-black text-white text-center p-4 flex justify-between sm:justify-between md:justify-between costom:justify-between">
    <div class="hidden costom:block sm:block md:block">&nbsp;</div>
    <a href="/">
    <div class="flex">
        <div class="logo"><%= image_tag("logo.jpg", {:style => "width:40px;"}) %></div> &nbsp;
        <div class="text-4xl font-bold">
            i<span class="text-indigo-800">S</span><span class="text-orange-600">tack</span>&nbsp;<span class="text-xl text-yellow-200">wallet</span>
        </div>
    </div>
    </a>
    <div class="pt-1 flex gap-8 text-base">
        <div class="sm:hidden md:hidden costom:hidden"><%= link_to 'Add Balance', new_balancerequest_path %></div>
        <div class="sm:hidden md:hidden costom:hidden"><%= link_to 'Transactions', "#" %></div>
        <div class="sm:hidden md:hidden costom:hidden"><%= link_to 'Stock Market', stock_market_path %></div>
        <a href="javascript:void(0)" class="hidden costom:block sm:block md:block" onclick="toggleNav()">&#9776;</a>
    </div>
    <div class="pt-1 sm:hidden md:hidden costom:hidden">
        <%= link_to 'Sign-out', destroy_trader_session_path, method: 'delete' %>
    </div>
</div>

<div class="topnav">
  <div id="mobile_links">
    <div><%= link_to 'Add Balance', new_balancerequest_path %></div>
    <div><%= link_to 'Transactions', "#" %></div>
    <div><%= link_to 'Stock Market', stock_market_path %></div>
  </div>
</div>

<script>
    const toggleNav = () => {
        let link = document.getElementById("mobile_links")
        link.style.display === "block"? link.style.display = "none" : link.style.display = "block"
    }
</script>

