<h1>Showing Stock</h1>

<%= form_for @broker_stock, url: :buyer_stocks, method: :post do |f| %>
    <%= f.hidden_field :broker_id, :value => @broker %>
    <%= f.hidden_field :broker_id, :value => @broker %>
    <%= f.hidden_field :stock_id, :value => params[:stock_id] %>
    <%= f.label :last_price %>
    $<%= @broker_stock.last_price %>
    <%= f.label :quantity %>
    <%= f.number_field :quantity, min: 1 %>
    <%= f.submit "Buy Stock" %>
<% end %>
<div>
    <%= @broker_stock.ticker %>
    <%= @broker_stock.name %>
</div>

<p><%= link_to "Back", buyer_index_path %></p>