<section class="buyer-stocks">
  <div class="container">
    <h2 class="mb-3 text-center">Available Stocks</h2>

    <div class="table-container">
      <table class="table table-hover table-responsive-sm">
        <thead class="thead-bg-color sticky-top">
          <tr>
            <th scope="col">Ticker</th>
            <th scope="col">Company Name</th>
            <th scope="col" class="text-center">Latest Price</th>
            <th scope="col" class="text-center">Broker</th>
            <th scope="col" class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% broker_stocks_list.each do |broker_stock| %>
            <tr>
              <% stock = broker_stock.stock %>
              <td><%= stock.ticker %></td>
              <td><%= stock.stock %></td>
              <td class="text-center">
                <%#= stock.price %>
                <%= 
                  number_with_precision(
                    stock.price, :precision => 2, :delimiter => ','
                  ) 
                %>
              </td>
              <td class="text-center">
                <%= broker_stock.user.email %>
              </td>
              
              <% if current_user.transactions.find_by(broker_stock_id: broker_stock.id) %>
                <td class="text-center">
                  <span class="text-info">Stock Added in Portfolio</span>
                </td>
              <% else %>
                <td class="text-center">
                  <%= link_to "Add Stock", 
                  broker_stock_add_path(broker_stock), 
                  method: :post, 
                  class: "btn btn-info btn-sm" %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
