<div class='buyertransactions-container'>
  <div class='buyertransactions-body'>
    <div class='header'>
        <h1> Transactions </h1>
    </div>
    <div class='transactions-table'>
        <% if @transactions.empty? %>
        <p>You have not bought any stocks.</p>
        <% else %>
        <table>
            <thead>
                <tr>
                <th>Date Purchased</th>
                <th>Ticker</th>
                <th>Company</th>
                <th>Broker</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Cost</th>
                </tr>
            </thead>

            <tbody>
            <% @transactions.each do |stock| %>
                <tr>
                <td><%= stock.created_at %>
                <td><%= stock.ticker %></td>
                <td><%= stock.company_name %></td>
                <td><%= stock.broker_name %></td>
                <td>$<%= stock.stock_price %></td>
                <td><%= stock.quantity %></td>
                <td>$<%= ((stock.quantity).to_i * (stock.stock_price).to_f).to_f %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <% end %>
    </div>
  </div>
</div>