<br/><br/>
<div class="container max-w-5xl mx-auto xl:w-3xl h-full flex justify-center align-center bg-transparent rounded-lg">
  <div class="w-full xl:w-1/2 p-8">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-4 mt-3">
          <%= f.label :email, class: "mr-10 font-bold text-white" %><br />
          <%= f.email_field :email, class:"text-md appearance-none rounded w-full py-2 px-3 text-gray-700 bg-gray-200 leading-tight focus:outline-none focus:shadow-outline h-10", autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="mb-4 mt-3">
          <%= f.label :password, class: "mr-10 font-bold text-white"  %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class:"text-md appearance-none rounded w-full py-2 px-3 text-gray-700 bg-gray-200 leading-tight focus:outline-none focus:shadow-outline h-10", autocomplete: "new-password" %>
        </div>

        <div class="mb-4 mt-3">
          <%= f.label :password_confirmation, class: "mr-10 font-bold text-white"  %><br />
          <%= f.password_field :password_confirmation, class:"text-md appearance-none rounded w-full py-2 px-3 text-gray-700 bg-gray-200 leading-tight focus:outline-none focus:shadow-outline h-10", autocomplete: "new-password" %>
        </div>

        <div class="mb-4 mt-3">
          <%= f.label :current_password, class: "mr-10 font-bold text-white"  %> <br/><i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, class:"text-md appearance-none rounded w-full py-2 px-3 text-gray-700 bg-gray-200 leading-tight focus:outline-none focus:shadow-outline h-10", autocomplete: "current-password" %>
        </div>

        <div class="flex w-full mt-5">
            <%= f.submit "Update",class: "px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-yellow-500 border border-transparent rounded-md shadow-sm hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2" %>
        </div>
    <% end %>
    <%= button_to "Delete Account", registration_path(resource_name),class: "mt-3 px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-red-500 border border-transparent rounded-md shadow-sm hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2", data: { confirm: "Are you sure?" }, method: :delete %>
  
  </div>

  <div class="relative hidden xl:block xl:w-1/2 h-full">
      <%= image_tag("mobile-login-animate.svg", :alt => "rss feed") %>
  </div> 

</div>