
<div class=" flex justify-center ">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <h1 class="text-3xl font-bold text-pink-700">Edit User</h1>
    <div class="form-group">
      <br>
      <%= f.label :username %>
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class:"form-control" %>
        <% resource.errors.full_messages_for(:username).each do |message| %>
          <div class="text-red-900 font-bold"><%= message %></div>
        <% end %>
    </div>

    <div class="form-group">
      <%= f.label :firstname %>
      <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname", class:"form-control"  %>
      <% resource.errors.full_messages_for(:firstname).each do |message| %>
          <div class="text-red-900 font-bold"><%= message %></div>
        <% end %>
    </div>

    <div class="form-group">
      <%= f.label :lastname %>
      <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname", class:"form-control"  %>
      <% resource.errors.full_messages_for(:lastname).each do |message| %>
          <div class="text-red-900 font-bold"><%= message %></div>

        <% end %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"  %>
        <% resource.errors.full_messages_for(:email).each do |message| %>
          <div class="text-red-900 font-bold"><%= message %></div>
        <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
       <% resource.errors.full_messages_for(:current_password).each do |message| %>
          <div class="text-red-900 font-bold mt-3"><%= message %></div>
      <% end %>
    </div>

    <div class="form-group flex justify-between items-center">
      <%= link_to trader_stock_path do %><button class="btn btn-light btn-lg">Back</button><% end %>
      <%= f.submit "Submit", class: "btn btn-primary btn-lg ml-16"%>
    </div>
  <% end %>
</div>