<section class="signup_page">
  <%=render 'shared/nav_signup'%>

  <div class="form_signup">
    <h3>Create Bwinance Account</h3>
    <span>Begin your journey to financial freedom</span>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class= "form-group">
        <%= f.label :username, class:"sign_up_label"%><br />
        <%= f.text_field :username, autofocus: true, class: "sign_up_input" %>
      </div>

      <div class="form-group">
        <%= f.label :email, class:"sign_up_label" %><br />
        <%= f.email_field :email, autocomplete: "email", class: "sign_up_input" %>
      </div>

      <div class="form-group">
        <%= f.label :password, class:"sign_up_label" %>
        <% if @minimum_password_length %>
        <em class="sign_up_label">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "sign_up_input" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class:"sign_up_label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "sign_up_input" %>
      </div>

      <div class="form-group">
        <input type="checkbox">
        <span class="sign_up_label">I have read and agreed to Bwinance's <span class="sign_up_highlight">Term of Service</span></span>
      </div>
      <div class="form-group actions">
        <%= f.submit "Create account", class: "btn btn-primary signup_btn" %>
      </div>
    <% end %>

    <div class="form-group signup_login">
      <span>Already registered?</span>
      <%= link_to "Log in", new_session_path(resource_name), class: "sign_up_highlight" %>
    </div>  
  </div>
</section>
<%=render 'shared/footer'%>
