<div class='buyerreg-container'>
  <div class='reg-nav'>
    <a href ='/'>
    <%= image_tag('Swift.png', :alt => 'SWIFT Logo', class:'app-logo') %>
    </a>
  </div>
  <div class='reg-forms'>
    <div class='signup-form'>
      <h2>Create Your Buyer Account</h2>
      <p> Join us and have the most fun trading stocks! </p>
      <br />
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class='input-field'>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: 'email' %>
      </div>
      <br />
      <div class='input-field'>
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: 'new-password' %>
      </div>
      <br />
      <div class='input-field'>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: 'new-password' %>
      </div>
      <br />
      <div class='btn submit-btn'>
      <%= f.submit 'Sign up'' %>
      </div>
      <% end %>
      <br />
      One of us? <%= render "devise/shared/links" %>
    </div>
  </div>
</div>