<%= render "partials/navbar" %>

<div class="form-devise d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-img-container d-none d-md-block">
        <div class="img-fluid mt-3 mt-md-0 h-100 d-flex align-items-center">
          <img 
            src=<%= asset_path('signup-animate.svg') %> 
            alt="stocks"
          >
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">

            <h2 class="mb-4 text-center">Sign up</h2>

            <%= render "partials/flash" %>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field form-group mb-5">
                <%= f.label "Account Type" %>
                <%= f.select :user_type_id, [["Broker", @broker.id], ["Buyer", @buyer.id]], {}, {class: "form-control"} %>
              </div>

              <div class="field form-group">
                <%= f.text_field :first_name, autofocus: true, autocomplete: "first-name", placeholder: :first_name, class: "form-control" %>
              </div>

              <div class="field form-group">
                <%= f.text_field :last_name, autofocus: true, autocomplete: "last-name", placeholder: :last_name, class: "form-control" %>
              </div>

              <div class="field form-group">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: :email, class: "form-control" %>
              </div>

              <div class="field form-group">
                <%= 
                  f.password_field :password, 
                  autocomplete: "new-password", 
                  placeholder: "Password (6 characters minimum)", 
                  class: "form-control"
                %>
              </div>

              <div class="field form-group">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: :password_confirmation, class: "form-control" %>
              </div>

              <div class="actions mt-5">
                <%= f.submit "Sign up", class: "btn btn-primary bg-orange btn-block" %>
              </div>
            <% end %>
          </div><!-- card-body -->
        </div><!-- card -->

        <%#= render "devise/shared/links" %>
        <div class="mt-4 text-center">
          Already have an account? <span style="color: #005792;"><%= link_to 'Sign in here.', new_user_session_path %></span>
        </div>

      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</div>
