<div class="product_list_container">
  <h1>All Products </h1>
<table class = "table">
  <tr scope="column">
    <td>Product ID</td  >
    <td>Product Name</td>
    <td>Product Price</td>
    <td>User Status</td>
  </tr>

  <% @abc_products.each do |product| %>
    <tr scope="column">  
      <td><%= product.id %></td>
      <td><h3><%= product.product_name %></h3></td>
      <td> <p><%= product.product_price %></p></td>
      <td> <p>Status: <%= product.user_status %></p></td>
    <div>
      <td>
        <button type="button" class="btn btn-secondary"><%= link_to 'BUY NOW', checkouts_create_path(id: product.id), remote: true, method: :post %></button>
        <button type="button" class="btn btn-secondary"><%= link_to "Show", abc_product_show_path(product.id) %></button>
        <button type="button" class="btn btn-secondary"><%= link_to "Edit", edit_abc_product_path(product.id) %></button>
        <button type="button" class="btn btn-danger"><%= link_to "Delete", delete_abc_product_path(product.id), method: :destroy, :data => { :confirm => "Are you sure?" } %></button>
      </td>
    </div>
  </tr>
  <% end %>
</table>
  <button type="button" class="btn btn-outline-light"><%= link_to "Back", root_path %></button>
  <button type="button" class="btn btn-outline-light"><%= link_to "Create New Product", abc_product_new_path %></button>
</div>