<p>
  <strong>Title:</strong>
  <%= @abc_product.product_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @abc_product.product_price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @abc_product.user_status %>
</p>

<%= link_to 'Edit', edit_abc_product_path(@abc_product) %> |
<%= link_to 'Back', products_path %>
