= form_with scope: :user, url: user_profile_path, method: :patch do |f|

  - if @user.errors.any?
    %h2 Errors: 
    %ul
      - @user.errors.full_messages.each do |message|
        %li= message

  = f.label :email
  = f.text_field :email
  %br
  = f.label :first_name
  = f.text_field :first_name
  %br
  = f.label :last_name
  = f.text_field :last_name
  %br Balance
  = f.number_field :balance, value: @user.wallet.balance
  -# %br
  -# = f.label :password
  -# = f.password_field :password
  -# %br
  -# = f.label :password_confirmation
  -# = f.password_field :password_confirmation
  %br
  %button
    = f.submit "Update Account"