<section class="container-static">
  <section class="card-container">
    <div class="card-header-name">
      <h1>Trader List</h1>
    </div>
  
    <div class="card-container-table">
      <%# data headers %>
      <% if @traders.empty? %>
      <h1>No Pending Approvals</h1>
      <% end %>
      <div class="card-item headers market">
        <h5 class="default">ID</h5>
        <h5 class="default">Username</h5>
        <h5>Email</h5>
        <h5 class="default">Action</h5>
      </div>

      <%# loop all data here %>
      <% @traders.each do |trader| %>
      <div class="card-item market">
        <h5 class="default"><%= trader.id %></h5>
        <h5 class="default"><%= trader.username %></h5>
        <h5><%= trader.email %></h5>
        <div>
          <%= link_to "Approve",  admins_approvals_path(id: trader.id, approve: true), method: :put, class: "link-card-action default" %>
          <%= link_to "View", root_path, class: "link-card-action default" %>
        </div>
        
      </div>
      <% end %>
    </div>
  </section>
</section>
