<section class="admin-table">
  <table class="admin-content-table">
    <Caption>All Buyers</Caption>

    <thead>
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
      </tr>
    </thead>

    <tbody>
      <% @buyers.each do |buyer|%>
        <tr>
          <td><%= buyer.email%></td>
          <td><%= buyer.first_name%></td>
          <td><%= buyer.last_name%></td>
          <td><%= buyer.username%></td>
        </tr>
      <%end%>
    </tbody>
  </table>

  <table class="admin-content-table">
    <Caption>All Brokers</Caption>

    <thead>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </thead>

    <tbody>
      <% @brokers.each do |broker|%>
        <tr>
          <td><%= broker.email %></td>
          <td><%= broker.first_name%></td>
          <td><%= broker.last_name%></td>
          <td><%= broker.username%></td>
        </tr>
      <%end%>
    </tbody>

  </table>

</section>