%div{ class: 'flex flex-col items-center justify-center bg-gray-800 text-gray-50 w-screen h-screen p-20'}
  - if admin_signed_in?
    %table
      %thead
        %tr
          %th Email
          %th First Name
          %th Last Name
          %th Balance
      %tbody
        - @users.each do |user|
          %tr
            %td= user.email
            %td= user.first_name
            %td= user.last_name
            %td
              - if user.wallet
                = user.wallet.balance
            %td
              = link_to user_profile_path(user.id) do
                show
            %td
              = link_to edit_user_profile_path(user.id) do
                edit
            -# %td
            -#   = link_to user_path(user.id), method: :delete, data: {confirm: "Are you sure?"} do
            -#     delete

    %br
    %br
    %button
      = link_to admins_new_user_path do
        New User
    %button
      = link_to 'Sign Out', destroy_admin_session_path, method: :delete, class: "test"
    %br
    %br
  - else 
    = link_to 'Admin Registration', new_admin_registration_path
    %br
    = link_to 'Admin Sign In', new_admin_session_path