%table
  %thead
    %tr
      %th Email
      %th First Name
      %th Last Name
      %th Balance
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.first_name
        %td= user.last_name
        %td= user.wallet
        %td
          = link_to user_profile_path(user.id) do
            show
        %td
          = link_to edit_user_profile_path(user.id) do
            edit
        -# %td
        -#   = link_to user_path(user.id), method: :delete, data: {confirm: "Are you sure?"} do
        -#     delete

%br
%br
%button
  = link_to admins_new_user_path do
    New User
%br
%br
- if admin_signed_in?
  = link_to 'Sign Out', destroy_admin_session_path, method: :delete, class: "test"
- else
  = link_to 'Register', new_admin_registration_path
  %br
  = link_to 'Sign In', new_admin_session_path