<section class="create-wrapper-body">
  <div class="create-wrapper">

    <%= form_with scope: :admin, model: @admin, local: true do |f|%>

      <article class="create-input-data">
        <h2>Create Admin</h2>

        <div class="field">
          <%= f.label :email%> <br>
          <%= f.email_field :email, class:"create-admin-input"%>
        </div>

        <div class="field">
          <%= f.label :password%><br>
          <%= f.password_field :password, class:"create-admin-input"%>
        </div>

        <div class="field">
          <%= f.label :password_confirmation%><br>
          <%= f.password_field :password_confirmation, class:"create-admin-input"%>
        </div>

        <div class="field">
          <%= f.submit "Create Admin", class:"btn" %>
        </div>

      </article>
    <%end%>
  </div>
</section>