<h2>Transactions</h2>

<section class="table">
  <table class="content-table">
    <thead>
<<<<<<< HEAD
      <th>Buyer</th>
      <th>Stock</th>
      <th>Broker</th>
      <th>Date</th>
=======
        <th>Buyer</th>
        <th>Stock</th>
        <th>Broker</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Date</th>
>>>>>>> add quantity and total_price column on user_transaction table
    </thead>

    <tbody>
      <%if buyer_signed_in?%>
      <% @transactions.each do |transaction|%>
        <tr>
          <td><%= transaction.buyer.email%></td>
          <td><%= transaction.broker_stock.symbol%></td>
          <td><%= transaction.broker_stock.broker.email%></td>
          <td><%= transaction.created_at.strftime('%B %d, %Y')%></td>
        </tr>
      <%end%>
      <%elsif broker_signed_in?%>
        <% @broker_transactions.each do |broker_stock|%>
          <%broker_stock.each do |transaction|%>
          <tr>
            <td><%= transaction.buyer.email%></td>
            <td><%= transaction.broker_stock.symbol%></td>
            <td><%= transaction.broker_stock.broker.email%></td>
            <td><%= transaction.quantity%></td>
            <%unless transaction.total_price.nil?%>
                    <td><%= transaction.total_price.ceil(2)%></td>
                <%else%>
                    <td><%= transaction.total_price%></td>
            <%end%>
            <td><%= transaction.created_at.strftime('%B %d, %Y')%></td>
<<<<<<< HEAD
          </tr>
          <%end%>
        <%end%>
      <%end%>
=======
        </tr>
    <%end%>
    <%elsif broker_signed_in?%>
        <% @broker_transactions.each do |broker_stock|%>
            <%broker_stock.each do |transaction|%>
            <tr>
                <td><%= transaction.buyer.email%></td>
                <td><%= transaction.broker_stock.symbol%></td>
                <td><%= transaction.broker_stock.broker.email%></td>
                <td><%= transaction.quantity%></td>
                <%unless transaction.total_price.nil?%>
                    <td><%= transaction.total_price.ceil(2)%></td>
                <%else%>
                    <td><%= transaction.total_price%></td>
                <%end%>
                <td><%= transaction.created_at.strftime('%B %d, %Y')%></td>
            </tr>
            <%end%>
    <%end%>
    <%end%>
>>>>>>> add quantity and total_price column on user_transaction table
    </tbody>
</table>
</section>