<section class="admin-wrapper-body">

  <div class="admin-wrapper-grid">

    <article class="admin-input-data">

      <%= form_with url: admins_sign_in_path do |f| %>
        <h2>Admin Log in</h2>

        <div class="field admin-label-email">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"admin-input email" %>
        </div>

        <div class="field">
          <%= f.label :password, class:"label-password" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class:"admin-input password" %>
        </div>

        <div class="actions">
          <%= f.submit "Log in", class:"btn" %>
        </div>

      <% end %> 
    </article>

  </div>
</section>
