<h1>BROKER'S INDEX</h1>

<h3>Search Stock</h3>
<%= form_tag search_stock_path, remote: true, method: :get do %>
    <%= text_field_tag :stock, params[:stock], placeholder: 'Enter stock ticker...' %>
    <%= button_tag "Submit", type: :submit%>
<% end %>

<div id='search_result'>
    <%= render 'broker/search_result' %>
</div>

<h3><%= link_to "Broker Portfolio", broker_portfolio_path %></h3>