<h1>Broker Portfolio</h1>
<% if @added_stocks.empty? %>
    <p>You do not have any stocks yet.</p>
<% else %>
    <table>
        <thead>
            <tr>
            <th>Ticker</th>
            <th>Name</th>
            <th>Last Price</th>
            <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <% @added_stocks.each do |stock| %>
            <tr>
                <td><%= stock.ticker %></td>
                <td><%= stock.name %></td>
                <td><%= stock.last_price %></td>
                <td><%= link_to "Delete", broker_stock_path(stock), method: :delete, data: { confirm: "Are you sure?"} %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
<% end %>

<%= link_to "Back", broker_index_path %>
