<%# if broker has signed in show broker_stocks %>
<%# if buyer has signed in show available_stocks %>

<section class="table">
  <table class="content-table">
  
    <%if broker_signed_in?%>
      <Caption>Portfolio</Caption>
    <%elsif buyer_signed_in?%>
      <Caption>Stocks</Caption>
    <%end%>

    <thead>
      <tr>
        <th>Symbol</th>
        <th>Company Name</th>
      <%if buyer_signed_in?%>
        <th>Broker</th>
      <%end%>
        <th>View</th>
      </tr>
    </thead>
  <tbody>
  <% if broker_signed_in? %>
    <% @broker_stocks.each do |stock| %>
      <tr>
        <td><%= stock.symbol%></td>
        <td><%= stock.company_name%></td>
        <td><%= button_to 'Show', broker_stock_path(stock), method: :get, class:"button"%></td>
      </tr>
    <%end%>

  <% elsif buyer_signed_in? %>
    <% @available_stocks.each do |stock| %>
      <tr>
        <td><%= stock.symbol%></td>
        <td><%= stock.company_name%></td>
        <td><%= stock.broker.email%></td>
        <td><%= button_to 'Buy', broker_stock_path(stock), method: :get, class:"button"%></td>
      </tr>
    <%end%>
  <%end%>
  </tbody>
  </table>
</section>
