<h1>Create new user account</h1>

<%= form_with scope: :user, url: '/admin/add_user', method: :post  do |f| %>
    <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    <%= f.text_field :username, autofocus: true, autocomplete: :off, placeholder: "Username" %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (6 characters minimum)" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password" %>
    </div>
    <div>
    <%= f.submit "Create Account" %>
    </div>
<% end %>