<h1> List for confirmed users </h1>
<% if @users.blank? %>
<h2> No confirmed users</h2>
<% end %>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
<% @users.each do |user| %>
    <tbody>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= link_to "View", user_profile_path(user.id) %></td>
            <td><%= link_to "Edit", edit_user_profile_path(user.id) %></td>
        </tr>
    </tbody>
    <% end %>
</table>

<%= link_to 'Log Book', admin_log_book_path%>
<%= link_to 'Pending clients', admin_confirmation_path %>
<%= link_to 'Create user', admin_add_user_path %>

<%= link_to 'Logout', destroy_admin_session_path, method: :delete %>