<section class="container mx-auto p-6 font-mono ">
  <h1 class="text-5xl text-pink-500 font-bold mb-1">Pending User List</h1>
  <div class="w-full overflow-hidden rounded-lg shadow-lg ">
    <div class="w-full overflow-x-auto ">
      <table class="w-full">
        <thead>
          <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
            <th class="px-4 py-3">Email</th>
            <th class="px-4 py-3">Username</th>
            <th class="px-4 py-3">Firstname</th>
            <th class="px-4 py-3">Lastname</th>
            <th class="px-4 py-3">Created At</th>
            <th class="px-4 py-3">Role</th>
            <th class="px-4 py-3">Status</th>
            <th class="px-4 py-3">Action</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <% @users.each do |user| %>
            <tr class="text-gray-700">
              <td class="px-4 py-3 border">
                <div class="flex items-center text-sm">
                  <div>
                    <p class="font-semibold text-black"><%= user.email %></p>
                  </div>
                </div>
              </td>
              <td class="px-4 py-3 text-ms font-semibold border"><%= user.username %></td>
              <td class="px-4 py-3 text-ms font-semibold border"><%= user.firstname %></td>
              <td class="px-4 py-3 text-ms font-semibold border"><%= user.lastname %></td>
              <td class="px-4 py-3 text-sm border"><%= user.created_at.strftime("%A %b %e, %Y ") %></td>
              <td class="px-4 py-3 text-sm border"><%= user.role == 0 ? "Admin" : "Trader" %></td>
              <td class="px-4 py-1 text-xs border">
                <span class="px-2 py-1 font-semibold leading-tight text-blue-700 bg-blue-100 rounded-sm"> <%= user.status == 0 ? "Pending" : "Approved"%> </span>
              </td>
              <td class="px-4 py-1 text-ms font-semibold border">
                <%= link_to approve_trader_path(user.id), method: :patch do %><i class="fas fa-user-check bg-green-700 hover:bg-green-500 p-2 text-white cursor-pointer rounded"> <button> Approve</button></i><% end %> 
                <%= link_to remove_trader_path(user.id), method: :delete, data: { confirm: "are you sure? you want to remove this trader #{user.email}?" } do %>  <i class="fas fa-user-times bg-red-700 hover:bg-red-500 p-2 text-white cursor-pointer rounded"> <button> Remove</button></i><% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <div class="digg_pagination cursor-pointer flex justify-center font-bold mb-2">
          <%= will_paginate @users, class: 'mb-3 text-xl' %>
        </div>
      </table>
    </div>
  </div>
</section>
