<div class='adminpending-container'>
  <div class='adminpending-body'>
    <div class='header'>
      <i class='fa fa-square'></i> &nbsp;
      <h2>
        All Pending Accounts
      </h2>
    </div>
    <br>
    <div class='tables'>
      <div class='brokers-table'>
        <h3>Pending Broker Accounts</h3>
        <% if !@pending_brokers.empty? %>
        <table class="table mt-3">
          <thead class="thead-dark">
            <tr>
            <th>Broker ID</th>
            <th>Broker Name</th>
            <th>Broker Email</th>
            <th>Created At</th>
            <th>Action</th>
            </tr>
          </thead>

          <tbody class="text-white" style="font-size: 16px;">
          <% @pending_brokers.each do |broker| %>
            <tr>
            <td><%= broker.id %></td>
            <td><%= broker.broker_name %></td>
            <td><%= broker.email %></td>
            <td><%= broker.created_at %></td>
            <td><%= link_to "CONFIRM", confirm_broker_path(broker), class: "btn btn-success" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% else %>
          <p>There are no unconfirmed broker accounts.</p>
        <% end %>
      <br/>
      </div>
      <div class='users-table'>
        <h3>Pending Buyer Accounts</h3>
        <% if !@pending_buyers.empty? %>
        <table class="table mt-3">
          <thead class="thead-dark">
            <tr>
            <th>Buyer ID</th>
            <th>Buyer Email</th>
            <th>Created At</th>
            <th>Action</th>
            </tr>
          </thead>
          <tbody class="text-white" style="font-size: 16px;">
            <% @pending_buyers.each do |buyer| %>
            <tr>
            <td><%= buyer.id %></td>
            <td><%= buyer.email %></td>
            <td><%= buyer.created_at %></td>
            <td><%= link_to "CONFIRM", confirm_buyer_path(buyer), class: "btn btn-success" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% else %>
          <p>There are no unconfirmed buyer accounts.</p>
        <% end %>
      </div>
    </div>
  </div
</div>