<%= link_to "Add User", user_new_path %> 

<section>
  <div class="container">
    <h1>All</h1>
    <%= render "users", users: @users %>
  </div>
</section>

<section>
  <div class="container">
    <h1>Admins</h1>
    <%= render "users", users: @admins %>
  </div>
</section>

<section>
  <div class="container">
    <h1>Brokers</h1>
    <%= render "users", users: @brokers %>
  </div>
</section>

<section>
    <div class="container">
      <h1>Buyers</h1>
      <%= render "users", users: @buyers %>
    </div>
  </section>
