<div class='adminusers-container'>
  <div class='adminusers-body'>
    <div class='header'>
      <i class='fa fa-square'></i> &nbsp;
      <h2>
        All Registered Users
      </h2>
    </div>
    <br>
    <div class='tables'>
      <div class='brokers-table'>
        <h3>All Brokers</h3>
        <% if !@all_brokers.empty? %>
        <table class="table mt-3">
          <thead class="thead-dark">
          <tr>
            <th>Broker ID</th>
            <th colspan='2'>Broker Name</th>
            <th>Broker Email</th>
            <th>View</th>
            <th>Edit</th>
          </tr>
          </thead>
          <tbody class="text-white" style="font-size: 16px;">
          <% @all_brokers.each do |broker| %>
          <tr>
            <td><%= broker.id %></td>
            <td colspan='2'><%= broker.broker_name %></td>
            <td><%= broker.email %></td>
            <td><%= link_to 'View Broker', show_broker_path(broker), method: :get, class: "btn btn-dark" %></td>
            <td><%= link_to 'Edit Broker', edit_broker_path(broker), method: :get, class: "btn btn-dark" %></td>
          </tr>
          <% end %>
          </tbody>
        </table>
        <% else %>
          <p>There are no registered Brokers yet.</p>
        <% end %>
      <br>
      </div>
      <div class='users-table'>
        <h3>All Buyers</h3>
        <% if !@all_buyers.empty? %>
        <table class="table mt-3">
          <thead class="thead-dark">
          <tr>
            <th colspan='2'>Buyer ID</th>
            <th>Buyer Email</th>
            <th>View</th>
            <th>Edit</th>
          </tr>
          </thead>
          <tbody class="text-white" style="font-size: 16px;">
          <% @all_buyers.each do |buyer| %>
          <tr>
            <td colspan='2'><%= buyer.id %></td>
            <td><%= buyer.email %></td>
            <td><%= link_to 'View Buyer', show_buyer_path(buyer), method: :get, class: "btn btn-dark" %></td>
            <td><%= link_to 'Edit Buyer', edit_buyer_path(buyer), method: :get, class: "btn btn-dark" %></td>
          </tr>
          <% end %>
          </tbody>
        </table>
        <% else %>
          <p>There are no registered buyers yet.</p>
        <% end %>
      </div>
    </div>
  </div
</div>