<% @stock_symbol%>
<% @shares_sum.values%>
<% @shares_ave.values%>

<%= render '/portfolios/shared'%>

<%= render '/portfolios/sell_calculation', @transaction%>

<%= @current_price%>
<%= @count_shares%>

<%=@price_at_purchase%>
<%= render '/portfolios/sell_form', @transaction%>
<div class= "portfolio_table">

<table class ="portfolio_detail">
  <tbody>
        <tr>
          <td>
            Symbol
          </td>
            
          <td>
            Shares
          </td>
          <td>
            Bid Price
          </td>
        </tr>

        <tr>
          <td>
            <% @stock_symbol.each do |sym| %>
              <p> <%= sym %> </p>
            <% end %>
          </td>

          <td>
          <% @sum.each do |sum| %>
            <p> <%= sum %></p>
          <% end %>
          </td>
          <td>
            <% @ave.each do |ave| %>
              <p> <%= ave %></p>
            <% end %>
          </td>

        </tr>
    
  </tbody>
</table>
