<div>
    <% if @quote %>
        <%# @quote.symbol%>
        <%# @quote.company_name%>
        <%# @quote.latest_price%>
        <%# @quote.change_percent_s %>
        <%# @quote.change%>
        <% @data= @client.chart(@quote.symbol, '1d', chart_interval: ) %>
        <% @data = @data.map { |data| data.average}%>
        <% @min = @data.min %>
        <% @length = @data.length() %>
        <% @data = @data.join(",")%>
        <%# @data.inspect %>

        <div class="card" id="stock-searched-card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><%= @quote.symbol %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= @quote.company_name %></h6>
                <p class="card-text">
                    $<%= @quote.latest_price%><br>
                    <%= @quote.change_percent_s %><br>
                    <%= @quote.change%><br>
                </p>
                <div class="" id="market">
                    <%# <div id="chart-fill"
                        data-dailychart-values="12.94,13.0,12.98,13.02,13.0,13.0,12.95,12.85,13.04,13.13"
                        data-dailychart-close="13.08"
                        data-dailychart-length="78">
                    </div> %>
                    <div class="chart-fill" id="chart-fill-positive"
                        data-dailychart-close='<%= @min %>' data-dailychart-length='<%= @length %>'
                        data-dailychart-values='<%= @data %>'>
                    </div>
                </div>
            </div>
        </div>
    <% else %>
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    <% end %>
</div>