<div class="px-5 mb-4 bg-light market-container">
    <div class= "container">
        <h1 class="display-5 fw-bold">Market</h1>
        <%= form_with url: search_stock_in_market_path, method: :post, remote: true do | f |%>
            <%# text_field_tag "ticker_input", nil, placeholder: "Enter Ticker Symbol" %>
            <%# submit_tag "Search" %>
            <div class="input-group mb-3">
                <%= f.text_field "ticker_input",
                    placeholder: "Enter Ticker Symbol", type: "text",
                    class:"form-control"%>
                <%= f.button "Search", class: "btn btn-outline-primary", id: "button-addon2",
                    data: {disable_with: "<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span> Searching..."} %>
            </div>
        <% end %>
    </div>
</div>

<br>

<div class="container">
    <div id ="stock-searched" class="d-flex justify-content-center row">
        <%= render partial: "market/quote" %>
    </div>
</div>


<div class= "pt-5 container">
    <div class="mb-3 border-bottom ">
        <h2 class="fw-bold text-center mb-4">Watch List</h2>
    </div>
    <% if @markets.length > 0 %>
        <div class="">
            <%= render partial: "market/quotes" %>
        </div>
    <% else %>
        <p class="text-muted text-center pt-5">Nothing to show. Add new stocks by searchng first the company stocks you want to buy.</p>
    <% end %>
</div>

<%# Modal for creating stock: Broker buying new stock from market page %>

<div class="modal fade" id="modal-create-stock" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <%= render partial: "market/modal_create_stock"%>
</div>