<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<div class="w-full text-gray-900 bg-gradient-to-r from-green-600 to-blue-500 ">
  <div x-data="{ open: false }" class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
    
    <div class="p-4 flex flex-row items-center justify-between">
      
      <%= link_to(admins_index_path,class:"text-lg font-semibold tracking-wide text-gray-50 rounded-lg focus:outline-none focus:shadow-outline") do %>
                <%= image_tag('peddler_icon.png', :class=>"w-10 inline pb-1") %>
                <%= "Peddler" %>
                <% end %> 

      <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline" @click="open = !open">
        <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
          <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
          <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
      </button>

    </div>

    <nav :class="{'flex': open, 'hidden': !open}" class="flex-col flex-grow pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row">
     <% if admin_signed_in? %>  
      <%= link_to(admins_user_path,class:"px-4 py-2 mt-2 mr-5 text-sm font-semibold text-gray-900 bg-blue-200 rounded-sm md:mt-0 hover:text-gray-500 focus:text-gray-900 hover:bg-blue-200  focus:outline-none focus:shadow-outline") do %>
                <%= 'Users' %>
                <% end %>

      <%= link_to(admins_index_path,class:"px-4 py-2 mt-2 mr-5 text-sm font-semibold text-gray-900 bg-blue-200 rounded-sm md:mt-0 hover:text-gray-500 focus:text-gray-900 hover:bg-blue-200  focus:outline-none focus:shadow-outline") do %>
                <%= 'Pending Accounts' %>
                <% end %>

      <%= link_to(new_adminpage_path,class:"px-4 py-2 mt-2 mr-5 text-sm font-semibold text-gray-900 bg-blue-200 rounded-sm md:mt-0 hover:text-gray-500 focus:text-gray-900 hover:bg-blue-200  focus:outline-none focus:shadow-outline") do %>
                <%= 'Add User' %>
                <% end %>

      <%= link_to(destroy_admin_session_path,data: { confirm: "Are you sure you want to sign out ?" }, method: :delete,class:"px-4 py-2 mt-2 text-sm font-semibold text-gray-100 bg-red-500 rounded-lg md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-blue-200  focus:outline-none focus:shadow-outline") do %>
                <%= 'Sign out' %>
                <% end %>

     <% else %>

       <%= link_to(new_admin_registration_path,class:"px-4 py-2 mt-2 text-sm font-semibold text-gray-600 bg-yellow-300 rounded-lg md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-blue-200  focus:outline-none focus:shadow-outline") do %>
               <i class="far fa-user"></i>
                <%= 'Sign Up' %>
                <% end %>

      <%= link_to(new_admin_session_path,class:"px-4 py-2 mt-2 ml-3 text-sm font-semibold text-gray-50 bg-green-500 rounded-lg md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-blue-200  focus:outline-none focus:shadow-outline") do %>
                <i class="fas fa-user"></i>
                <%= "Login" %>
                <% end %>  

     <% end %>
             

    </nav>
  </div>
</div>