<% if current_user %>
    <%= link_to destroy_user_session_path, method: :delete do %>
        Logout
    <% end %>

    <h1><%= current_user.first_name %></h1>
    <h1><%= current_user.last_name %></h1>
<% else %>
    <%= link_to "login", new_user_session_path %> |
    <%= link_to "register", new_user_registration_path %>
<% end %>