<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "Stock app", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if broker_signed_in? %>
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Transactions", transaction_home_index_path, class: "nav-link" %>
          </li> 
          <li class="nav-item">
            <%= link_to "Stocks", stocks_path, class: "nav-link" %>
          </li>  
          <li class="nav-item">
            <%= link_to "Portfolio", portfolio_home_index_path, class: "nav-link" %>
          </li>   
          <li class="nav-item">
            <%= button_to "Sign out", destroy_broker_session_path, protocol: 'https', method: :delete, class: "nav-link" %>
          </li>
          <li>
            broker
          </li>
        <% elsif buyer_signed_in? %>
          <li class="nav-item">
            <%= link_to "Stocks", stocks_path, class: "nav-link" %>
          </li> 
          <li class="nav-item">
            <%= link_to "Transactions", transaction_home_index_path, class: "nav-link" %>
          </li> 
          <li class="nav-item">
            <%= link_to "Portfolio", portfolio_home_index_path, class: "nav-link" %>
          </li>   
          <li class="nav-item">
            <%= button_to "Sign out", destroy_buyer_session_path, protocol: 'https', method: :delete, class: "nav-link" %>
          </li>
          <li>
            buyer
          </li>
        <% elsif admin_signed_in? %>
          <li class="nav-item">
            <%= link_to "Portfolio", portfolio_home_index_path, class: "nav-link" %>
          </li>   
          <li class="nav-item">
            <%= button_to "admin Sign out", destroy_admin_session_path , protocol: 'https', method: :delete, class: "nav-link" %>
          </li>                   
        <% else %>
          <li class="nav-item">
            <%= link_to "broker Sign up", new_broker_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= button_to "broker Sign in", new_broker_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "buyer Sign up", new_buyer_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= button_to "buyer Sign in", buyer_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
