= form_for @stock do |f|
  - if @stock.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stock.errors.count, "error")} prohibited this stock from being saved:"
      %ul
        - @stock.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :ticker
    = f.text_field :ticker
  .field
    = f.label :user_id
    = f.text_field :user_id
  .actions
    = f.submit 'Save'
