<%= form_for @stock do |f| %>
  <% if @stock.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@stock.errors.count, "error")} prohibited this stock from being saved:" %>
      </h2>
      <ul>
        <% @stock.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :ticker %>
    <%= f.text_field :ticker %>
  </div>
  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>
