<tr>

    <th scope="col">
        <%=link_to "#{stock.ticker}", stock_path(stock)%>
    </th>
    <th scope="col"><%=stock.name%></th>
    <th scope="col"><%=stock.last_price%></th>

    <%if current_user.buyer? && broker%>
        <th scope="col"><%=broker.email%></th>
    <%end%>
    <%if current_user.broker?%>
        <th scope="col">
            <%if current_user.stock_already_tracked?(stock.ticker)%>
                <%=link_to user_stock_path(stock.userstock(current_user)), method: :delete, class:'btn btn-add-remove btn-tracked-remove' do%>
                    <span>Already Tracked</span>
                <%end%>
            <%else%>
                <%=link_to 'Add to Portfolio', user_stocks_path(ticker: stock.ticker), class: "btn btn-xs btn-add-remove btn-success add-stock", method: :post, remote: true%>
            <%end%>
        </th>
    <%else%>
        <th scope="col">
            <%=link_to 'Buy', new_user_stock_path(user_stock,transactiontype:'buy'), class: "btn btn-xs btn-success buy-stock"%>      
        <%if current_user.stock_already_tracked?(stock.ticker)%>
            <%=link_to 'Sell', new_user_stock_path(user_stock,transactiontype:'sell'), class: "btn btn-xs btn-danger buy-stock"%>
        <%end%>
        </th>
    <%end%>
</tr>

