<h1 class="text-center">lists of fuken stocks! wtf</h1>

<div class="input-group">
  <div class="form-outline">
    <input type="search" id="form1" class="form-control" />
    <label class="form-label" for="form1">Search</label>
  </div>
  <button type="button" class="btn btn-primary">
    <i class="fa fa-trash"></i>
  </button>
</div>

<div class="card-group">
  <% @client.stock_market_list(:mostactive).each do |stock| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= stock.symbol %></h5>    
        <h5 class="card-title"><%= stock.company_name %></h5>
        <h5 class="card-title"><%= stock.iex_last_updated_t %></h5>
        <p class="card-text"><%= stock.latest_price %></p>
        <a href="#" class="btn btn-primary"><%= stock.avg_total_volume %></a>
        <%= link_to "show stock", stock_path(stock.symbol), class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>