<h1>Listing stocks</h1>
<table>
  <thead>
    <tr>
      <th>Ticker</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td>
          <%= stock.ticker %>
        </td>
        <td>
          <%= stock.user_id %>
        </td>
        <td>
          <%= link_to 'Show', stock %>
        </td>
        <td>
          <%= link_to 'Edit', edit_stock_path(stock) %>
        </td>
        <td>
          <%= link_to 'Destroy', stock, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Stock', new_stock_path %>

<%# Search Box  %>
  <%= form_tag root_path, :method => 'POST' do %>
    <%= text_field_tag 'ticker', nil, placeholder: "Enter the stock code name", size: 50 %>
    <%= submit_tag 'Search' %>
    <% end %>

  <% if @stock %>
    <%= @stock.company_name %>
    $<%= @stock.latest_price %>
    <% elsif @blankSearch %>
      <%= @blankSearch %>
  <% end %>

  <% if @stockErr %>
    <%= @stockErr %>
  <% end %>

