<div class="search-area">
    <h3>Search Stocks</h3>
    <%= form_tag search_stock_path, method: :get do %>
        <div class="form-group row">
            <div class="col-sm-9">
                <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class:"form-control form-control-lg" %>
            </div>
            <div class="col-sm-3">
                <%= button_tag("Search")%>
            </div>
        </div>
    <% end %>
    <% if @stock %>
        <div class="card card-header">
            <strong>Symbol: </strong> <%= @stock.ticker %><br/>
            <strong>Name: </strong> <%= @stock.company %><br/>
            <strong>Price: </strong> <%= @stock.price%><br/>
        </div>
    <% end %>
</div>
