= form_for @user do |f|
  - if @user.errors.any?
    .error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  .field
    = f.label :password
    - if @validatable
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .field
    = f.label :kind
    %br/
    = f.select :kind, [["User","user"], ["Broker","broker"]]
  .field
    = f.label :admin
    %br/
    = f.check_box :admin
  .field
    = f.fields_for :wallet do |f|
      = f.label :money
      = f.text_field :money
  .actions
    = f.submit