<%# <div class="results-block">
    <%= render'layouts/messages' %>
<%# </div> #%> 

<% if @stock %>
  <span class="result_symbol"><%= @stock.ticker %></span>
  <span class="result_company"><%= @stock.name %></span>
  <span class="result_price"><%= @stock.last_price %></span>
  <%# <%=@stock.prices%>
<% end %>
