<head>
  <%= stylesheet_link_tag "details" %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&family=Oswald:wght@400;500;600;700&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <%= link_to "Logout", logout_path, :class => "logoutbtn" %>
  <div class="navbar_admin"></div>

  <div class="details">
    <div class="user_down">
      <h4 class="user_text"><%= @user.username %></h4>

      <h4 class="user_text"><%= @user.first_name %> <%= @user.last_name %></h4>
      
      <h4 class="user_text"><%= @user.email %></h4>

      <h4 class="user_text"><%= ('%.2f' % @user.money) %></h4>
    </div>
  
  </div>

  <%= image_tag("logotxt.png", :class => "logo") %>
  <div class="body-bg"></div>
</body>