<h1><%= @selected_user.username %>'s <%= @food.name %></h1>
<table>
  <tr>
    <td><%= @food.food_group %></td>
    <td><%= @food.caption %></td>
    <td><%= @food.recipe_url %></td>
  </tr>
</table>

<h2>Comments</h2>
<% @food.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commentor %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.comment %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with model: [ @food, @food.comments.build ] do |form| %>
  <p>
    <%= form.label :commentor %><br>
    <%= form.text_field :commentor, value:@cur_user.username %>
  </p>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>