<div class="card-header-name"> 
<%= current_user.present? ? "" : "" %>
<h1>Account Information: <%= current_user.email %> </h1>
</div>

<div>
<h3><%= to_PHP(@wallet.balance) %></h3>
<h3>Balance</h3>
</div>

<div>
<table>
    <thead>
        <tr>
            <th>Stock</th>
            <th>Units</th>
            <th>Hold value</th>
            <th>P/L (%)</th>
            <th>P/L (Php)</th>
            <th>Value</th>
            <th>Transaction</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <% @holdings.each do |holding| %>
        <tr>
            <td><%= holding.ticker %></td>
            <td><%= holding.units.round(4)%></td>
            <td><%= to_PHP(holding.amount)%></td>
            <td><%= profit_or_loss(holding)[:profit_or_loss_pct]%></td>
            <td><%= profit_or_loss(holding)[:profit_or_loss_peso] %></td>
            <td><%= profit_or_loss(holding)[:profit_or_loss_gross]%></td>
            <td><%= link_to "View", new_user_holding_path(user_id:current_user, stock_id:holding.stock_id)%></td>
        </tr>
    </tbody>

<% end %>

