<div class="dashboard margin-left-none">
  <div class="columns mt-0">
    <div class="column is-full">
      <span class="is-size-4 has-text-weight-light">Welcome to </span>
      <span class="is-size-4 has-text-weight-bold green">Tradr Admin Panel</span>
      <br>
      <span class="has-text-grey-light has-text-weight-light is-size-5">Good Day, <%= !!current_user.name ? current_user.name : current_user.email %></span>
    </div>
  </div>
  <div class="columns mt-0">
    <div class="column is-two-thirds">
      <span class="has-text-weight-bold title is-4 mb-2">Pending User Confirmation</span>
      <div class="max-tile">
      <% @unconfirmed.each do |x| %>
        <div class="tiles mt-3 is-one-half">
          <div class="tile is-flex is-justify-content-space-between is-align-items-center">
            <h1 class="is-size-5"> <i class="fas fa-envelope"></i> <%= x.name != nil ? x.name : x.email %></h1>
           <span>
                <%= link_to confirm_user_path(:id => x.id), data: { confirm: 'Are you sure you want to confirm this user?' }, class: 'button green green-border is-outlined mr-2 mt-1 has-text-weight-medium' do%>
                  <i class='bx bx-check-shield mr-1' ></i> Confirm User
                <% end %>
           </span>
          </div>
          </div>
        <% end %>
      </div>
      </div>

    <div class="column">
    <div class="is-flex is-justify-content-space-between is-align-items-center">
      <span class="has-text-weight-bold title is-4 mb-2">Users</span>
      <span><%=link_to new_user_path, class: 'button is-primary mr-2 mt-1 has-text-weight-medium' do%>
      <i class='fas fa-user-plus is-size-6 has-text-white mr-2'></i> New User
      <%end%></span>
    </div>
      <div class="max-tile">
      <% @users.each do |x| %>
      <%= link_to show_user_path(x.id) do%>
        <div class="tiles mt-3 is-one-half max-tile">
          <div class="tile is-flex is-justify-content-space-between is-align-items-center">

            <% if Role.find(x.role_id).name == 'Admin'%>
            <p class='tag is-normal green-bg has-text-white has-text-weight-medium mr-1'><i class="fas fa-user-shield mr-1"></i><%= Role.find(x.role_id).name %></p>
            <% elsif Role.find(x.role_id).name == 'Buyer'%>
            <p class='tag is-normal dark-bg has-text-white has-text-weight-medium mr-1'><i class="fas fa-user-tie mr-1"></i><%= Role.find(x.role_id).name %></p>
            <%else%>
            <p class='tag is-normal purple-bg has-text-white has-text-weight-medium mr-1'><i class="fas fa-user-tie mr-1"></i><%= Role.find(x.role_id).name %></p>
            <%end%>
            <h1>
            <i class="fas fa-user mr-1"></i> <%= x.name != nil ? x.name : x.email %>
            <% if x.confirmed? %>
            <i class='bx bx-check-shield mr-1' style="color: green"></i> 
            <%end%>
            </h1>

          </div>
            <p class="mt-3"> <i class="fas fa-wallet mr-2"></i> Cash: <%= number_to_currency(x.cash)%></p>
          </div>
          <%end%>
        <% end %>
      </div>
      </div>
    </div>

    </div>
  </div>
