%table
  %thead
    %tr
      %th Email
      %th First Name
      %th Last Name
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.first_name
        %td= user.last_name
        %td
          = link_to 'show', user
        %td
          = link_to edit_user_path(user.id) do
            edit
        %td
          = link_to user_path(user.id), method: :delete, data: {confirm: "Are you sure?"} do
            delete

%br
%br
%button
  = link_to new_user_path do
    New User
