<h1> tis where sign up page</h1>
<%= render 'shared/errors', obj: @user %>
<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %></br>
  
  <%= f.label :email %>
  <%= f.text_field :email %></br>
  
  <%= f.label :password %>
  <%= f.password_field :password_digest %></br>

  <%= f.submit 'create' %>

<% end %>