<h1>Sign Up</h1>

<%= form_for @user do |f|%>  

  <%= f.label :username %> <br>  
  <%= f.text_field :username %> <br>  

  <%= f.label :password %> <br>  
  <%= f.password_field :password %> <br>

  <%= f.label :email %> <br>  
  <%= f.text_field :email %> <br>

  <%= f.label :first_name %> <br>  
  <%= f.text_field :first_name %> <br>

  <%= f.label :last_name %> <br>  
  <%= f.text_field :last_name %> <br>

  <%= f.hidden_field :status, value: 'Buyer' %>
  <%= f.hidden_field :broker_role, value: 'Buyer' %>
  <%= f.hidden_field :money, value: 0 %>

  <%= f.submit 'Register' %>
<%end%>
