<h1>Create New User</h1>

<%= form_with(model:@user, local:true) do |f| %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true, autocomplete: 'username', class: 'form-control' %>
  </div>
  <div class="form-group">
  <%= f.label :role %>
  <%= f.select :role, ["broker", "buyer"], class: 'form-control' %>
</div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>

    <% if @minimum_password_length %>
      <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
    <% end %>
  </div>

 
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.submit(@user.new_record? ? 'Sign Up' : 'Update Account', class:'btn btn-danger btn-lg btn-signup')%>  </div>
<% end %>

