<h1>Create User</h1>

<%= form_with scope: :user, method: :post, url: users_create_admin_path, local: true do |f| %>

  <%= f.label :username %> <br>  
  <%= f.text_field :username %> <br>  

  <%= f.label :password %> <br>  
  <%= f.password_field :password %> <br>

  <%= f.label :email %> <br>  
  <%= f.text_field :email %> <br>

  <%= f.label :first_name %> <br>  
  <%= f.text_field :first_name %> <br>

  <%= f.label :last_name %> <br>  
  <%= f.text_field :last_name %> <br>

  <%= f.label :broker_role, 'Role' %> <br>  
  <%= f.select :broker_role, ['Buyer', 'Broker']%>

  <%= f.hidden_field :role, value: 'Buyer' %>
  <%= f.hidden_field :status, value: 'none' %>
  <%= f.hidden_field :money, value: 0 %>

  <%= f.submit 'Register' %>
<%end%>
