<%= render "partials/navbar" %>

<div class="form-devise d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-img-container d-none d-md-block">
        <div class="img-fluid mt-3 mt-md-0 h-100 d-flex align-items-center pr-4">
          <img 
            src=<%= asset_path('forgot-password-animate.svg') %> 
            alt="stocks"
          >
        </div>
      </div>

      <div class="col-md-6 d-flex flex-column justify-content-center">
        <div class="card">
          <div class="card-body">

            <h2 class="mb-4 text-center">Forgot your password?</h2>

            <%= render "partials/flash" %>

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field">
                <%#= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: :email, class: "form-control" %>
              </div>

              <div class="actions mt-4">
                <%= f.submit "Send me reset password instructions", class: "btn btn-primary bg-orange btn-block" %>
              </div>
            <% end %>
          </div><!-- card-body -->
        </div><!-- card -->

      <%#= render "devise/shared/links" %>
      <div class="mt-4 text-center">
        <span style="color: #005792;"><%= link_to 'Log in', new_user_session_path %></span>

        or 

        <span style="color: #005792;"><%= link_to 'Sign Up', new_user_registration_path %>
      </div>

      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</div>
