<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<section class="container container-content mt-6 mr-6 ml-6">
<div class="columns">

<div class="column is-6 container-left">
  <%= image_tag("forgot-password-animate.svg", :alt => "rss feed") %>
</div>

<div class="column is-6 container-right">
  <div class="field">
    <%= f.label :email, class:"label has-text-black" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "false" , class:"input"%>
  </div>

  <div class="actions">
    
    <%= f.button :submit, class: 'button start-now-two', value: 'Login' do%>
      Reset Password
    <% end %>
  </div>
  <div class="shared-links">
  </div>
</div>
</div>
  </section>
<% end %>

