<main class="container form-signin text-center w-50">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "review_centers/shared/error_messages", resource: resource %>

    <h1 class="h3 mb-3 fw-normal">Enter Credentials</h1>

    <div class="form-label mt-3">
      <%= f.label :name %><br/>
      <%= f.text_field :name, autofocus: true, autocomplete: "email", placeholder:"Juan Dela Cruz", class:"form-control"  %>
    </div>

    <div class="form-label">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"juandelacruz@example.com", class:"form-control" %>
    </div>

    <div class="field form-label">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder:"Password", class:"form-control" %>
  </div>

    <div class="field">
      <br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Password Confirmation", class:"form-control" %>
    </div>

    <main class="actions mb-3">
    <br/>
      <%= f.submit "Sign up", class: 'w-100 btn btn-lg btn-primary mt-2' %>
    </div>
  <% end %>

  <%= render "review_centers/shared/links" %>
</main>
