<div class="most_active">
    <div class="card table_title">
        <%if gain%>
            <span class="table_title_gain">TOP GAINERS</span>
        <%else%>
            <span class="table_title_loss">TOP LOSERS</span>
        <%end%>
    </div>
    <table class="table table-hover table_most_active">
    <thead>
        <tr>
        <th>Stock</th>
        <th scope="col">Last</th>
        <th scope="col">Chg(%)</th>
        <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        <%stocks.each do |s|%>
            <tr>
                <th scope="row"><%=s.symbol%></th>
                <td><%=s.latest_price%></td>
                <%if gain%>
                    <td class="table_title_gain">
                        <%=s.change_percent_s%>
                    </td>
                <%else%>
                    <td class="table_title_loss">
                        <%=s.change_percent_s%>
                    </td>
                <%end%>
                <td><%=number_to_human(s.avg_total_volume, :format => '%n%u', :units => { :million => 'M', :thousand => 'K' })%></td>
            </tr>
        <%end%>
    </tbody>
    </table>
</div>
