<%= form_with scope: :minibook_entry, url: update_minibook_entry_path, model: @minibook_entry, method: :put, :local => true do |f| %>
  <h1>Edit Minibook entry</h1>

  <% if @minibook_entry.errors.any? %>
    <ul>
      <% @minibook_entry.errors.full_messages.each do |error_message| %>
        <li><%= error_message %></li>
      <% end %>
    </ul>
  <% end %>

<div>
<div class="field">
  <th><%= f.label :"Date" %></th>
  <th><%= f.date_field :date_minib_entry %></th>
</div>

<div class="field">
  <th><%= f.label :"Description"%></th>
  <th><%= f.text_field :minibook_entry_description %></th>
</div>

<div class="field">
  <th><%= f.label :"or-vat-reg-tin"%></th>
  <th><%= f.text_field :or_vat_reg_tin_minib %></th>
</div>

<div class="field">
  <th><%= f.label :"DEBIT (+)"%></th>
  <th><%= f.text_field :debit_minib %></th>
</div>

<div class="field">
  <th><%= f.label :"CREDIT (-)"%></th>
  <th><%= f.text_field :credit_minib %></th>
</div>

  <div class = "form_button">
    <button type="button" class="btn btn-outline-light"><%= link_to "Back", all_minibook_entries_path %></button>
    <button type="button" class="btn btn-outline-light"><%= f.submit :"Update" %></button>
  </div>
  </div>
<% end %>
