<div class= container>
  <table class="table table-success table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Coin</th>
      <th scope="col">Company</th>
      <th scope="col">price</th>
      <th scope="col">Transaction Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= @active.first.symbol%></th>
      <td><%= @active.first.company_name %></td>
      <td><%= @active.first.iex_realtime_price %></td>
      <td><button type="button" class="btn btn-success">BUY</button>
      <button type="button" class="btn btn-danger">SELL</button></td>
     
    </tr>
    <tr>
      <th scope="row"><%= @active.second.symbol %></th>
      <td><%= @active.second.company_name %></td>
      <td><%= @active.second.iex_realtime_price %></td>
      <td><button type="button" class="btn btn-success">BUY</button>
      <button type="button" class="btn btn-danger">SELL</button></td>
     
    </tr>
    <tr>
      <th scope="row"><%= @active.third.symbol %></th>
      <td><%= @active.third.company_name %></td>
      <td><%= @active.third.iex_realtime_price %></td>
      <td><button type="button" class="btn btn-success">BUY</button>
      <button type="button" class="btn btn-danger">SELL</button></td>
    </tr>
    <tr>
      <th scope="row"><%= @active.fourth.symbol %></th>
      <td><%= @active.fourth.company_name %></td>
      <td><%= @active.fourth.iex_realtime_price %></td>
      <td><button type="button" class="btn btn-success">BUY</button>
      <button type="button" class="btn btn-danger">SELL</button></td>
    </tr>
    <tr>
      <th scope="row"><%= @active.fifth.symbol %></th>
      <td><%= @active.fifth.company_name %></td>
      <td><%= @active.fifth.iex_realtime_price %></td>
      <td><button type="button" class="btn btn-success">BUY</button>
      <button type="button" class="btn btn-danger">SELL</button></td>
    </tr>
    
  </tbody>
</table>
</div>