<div class="tmp-sidebar d-flex flex-column flex-shrink-0 p-3 bg-light justify-content-start" style="width: 280px;">
  <%= link_to root_path, class: "hello-username d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none" do %>
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Hello, <%= current_user.username %></span>
  <% end %>


    <ul class="nav-items-container nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                Dashboard
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                My listings
            </a>
        </li>

        <li>
            <a type="button" class="nav-link link-dark" data-toggle="modal" data-target="#exampleModal">
                Create new listing
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                History
            </a>
        </li>
    </ul>

    <h6>Conversations</h6>
    <ul class="conversations nav nav-pills flex-column mb-auto">
        <% @conversations.each do |conv| %>
            <% if conv.item != nil %>
                    <%= link_to item_conversation_path(conv.item_id, conv.id), class: "nav-link" do %>
                        <% active_class = (@conversation == conv) ? 'active' : '' %>
                        <li class="nav-item d-flex flex-column align-items-center <%= active_class %>">
                            <span class="convo-item-name"><%= conv.item.name %></span>
                            <!--displaying username of current_user's conversation partner -->
                            <% if conv.item.user == current_user && current_user.id == conv.user2_id %>
                                <span class="other-user-username"><%= User.find(conv.user1_id).username %></span>
                            <% elsif conv.item.user == current_user && current_user.id == conv.user1_id %>
                                <span class="other-user-username"><%= User.find(conv.user2_id).username %></span>
                            <% else %>
                                <span class="other-user-username"><%= conv.item.user.username %></span>
                            <% end %>
                        </li> 
                    <% end %>
            <% end %>    
        <% end %>
    </ul>

    <!-- create listing modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New listing</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= form_with scope: :item, url: items_path(current_user.id), local: true do |f| %>
              <div class="field">
                <%= f.label :name, "Item name" %><br />
                <%= f.text_field :name, class: "form-control", autofocus: true %>
              </div>

              <div class="field">
                <%= f.label :description %><br />
                <%= f.text_area :description, class: "form-control", size: "30x10", autofocus: true %>
              </div>
              
              <%= f.hidden_field :status, value: "open" %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= hidden_field_tag(:user_id, current_user.id) %>
            
              <div class="modal-footer">
                <%= f.submit "Create listing", class: "btn btn-primary" %>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            <% end %>
          </div>
          
        </div>
      </div>
    </div>
    <%= javascript_pack_tag 'sidebar.js' %>  
</div>
