<div class="tmp-sidebar d-flex flex-column flex-shrink-0 p-3 bg-light justify-content-start" style="width: 280px;">
  <%= link_to root_path, class: "hello-username d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none" do %>
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Hello, <%= current_user.username %></span>
  <% end %>


    <ul class="nav-items-container nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                Dashboard
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                My listings
            </a>
        </li>

        <li>
            <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                Create listing
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                History
            </a>
        </li>
    </ul>

    <h6>Conversations</h6>
    <ul class="conversations nav nav-pills flex-column mb-auto">
        <% @conversations.each do |conv| %>
            <% if conv.item != nil %>
                    <%= link_to item_conversation_path(conv.item_id, conv.id), class: "nav-link" do %>
                        <% active_class = (@conversation == conv) ? 'active' : '' %>
                        <li class="nav-item d-flex flex-column align-items-center <%= active_class %>">
                            <span class="convo-item-name"><%= conv.item.name %></span>
                            <!--displaying username of current_user's conversation partner -->
                            <% if conv.item.user == current_user && current_user.id == conv.user2_id %>
                                <span class="other-user-username"><%= User.find(conv.user1_id).username %></span>
                            <% elsif conv.item.user == current_user && current_user.id == conv.user1_id %>
                                <span class="other-user-username"><%= User.find(conv.user2_id).username %></span>
                            <% else %>
                                <span class="other-user-username"><%= conv.item.user.username %></span>
                            <% end %>
                        </li> 
                    <% end %>
            <% end %>    
        <% end %>
    </ul>




  <% if @conversations != nil %>
    <%= javascript_pack_tag 'sidebar.js' %>
  <% end %>
</div>
