<h1>Welcome</h1>

<% if current_user %>
<div class="user_options">
    <div id="find_stock">
      <%= link_to 'Find Stock', stocks_path %>    
      <%= link_to 'Portfolio', portfolios_path %>    
      <%= link_to 'Transactions', transactions_path %>   
    </div>  
</div>

<%else%>
<%= link_to 'Sign Up', new_user_registration_path%>
<%= link_to 'Login', new_user_session_path %>
<%end%>


