
 
<% if user_signed_in? %>

    <% if buyer_signed_in? %>
        <%= render "buyers/index"%>

    <% elsif broker_signed_in? && current_user.approved? %>
        <%#= render "brokers/index"%>

        
    <%= link_to  "Sign out", destroy_broker_session_path, method: :delete %>

        
    <% elsif broker_signed_in? && !current_user.approved? %>
        <%= render "brokers/unapproved"%>
    

    <% else admin_signed_in? %>
        <%= render "admins/index"%>

    <% end %>

<% else %>
    <h1>stonks</h1>
    <%= link_to 'Buyer Sign up', new_buyer_registration_path %><br>
    <%= link_to 'Buyer Sign in', new_buyer_session_path %><br>
    <%= link_to 'Broker Sign Up', new_broker_registration_path %><br>
    <%= link_to 'Broker Sign In', new_broker_session_path %><br>
    <%= link_to 'Admin Sign Up', new_admin_registration_path %><br>
    <%= link_to 'Admin Sign In', new_admin_session_path %><br>
 <% end %>


<p><%#= @client.price('MSFT') %></p>
<p><%#= @symbols.class %></p>
<p><%#= @symbols.length %></p>


    