<% if user_signed_in? %>
  <h1>Hi user! welcome to bouffage's newsfeed</h1>
  <%= link_to 'Log out', destroy_admin_session_path, method: :delete %>
<% elsif nutritionist_signed_in? %>
  <h1>Hi nutritionist! welcome to bouffage's newsfeed</h1>
  <%= link_to 'Log out', destroy_admin_session_path, method: :delete %>
<% elsif admin_signed_in? %>
  <h1>Hi administrator these doctors are pending for approval</h1>
  <% @nut.each do |nutritionist| %>
    <ul>
      <li><%= nutritionist.username %></li>
      <li><%= nutritionist.email %></li>
      <li><%= nutritionist.license_num %></li>
      <li><%= nutritionist.years_exp %></li>
      <li><%= link_to "Approve", approve_path(nutritionist), method: :get %>
    </ul>
  <% end %>
  <%= link_to 'Log out', destroy_admin_session_path, method: :delete %>
<% else %>
  <h1>Welcome please sign up or sign in!</h1>
<% end %>
