<div class='landing-container'>
    <div class='landing-navbar'>
        <%= image_tag('Swift.png', :alt => 'SWIFT Logo', class:'app-logo') %>
        <div class='landing-cta'>
            <%= link_to 'HOME'%> &nbsp; &nbsp; &nbsp;
            <%= link_to 'BUYER'%> &nbsp; &nbsp; &nbsp;
            <%= link_to 'BROKER'%>
        </div>
    </div>
    <div class='landing-body'>
        <div class='landing-headline'>
            <h1 class='tagline'> SKYROCKET YOUR GAINS. </h1>
            <h2 class='tagsupport'>INVEST AND TRADE ON THE MOST ADVANCED STOCK EXCHANGE.</h2>
        </div>
        <div class='rocket'>
        <%= image_tag('rocket.png',class:'rocket-img')%>
        </div>
    </div>
</div>