
<% if buyer_signed_in? %>
    <p>Welcome <%= current_user.email %>! (<%= current_user.type %> account)</p>
    <p>Pokus lang tayo sa goal natin 👍</p> 
    <%= link_to  "Sign out", destroy_buyer_session_path, method: :delete %>

<% elsif broker_signed_in? && current_user.approved? %>
    <p>Welcome <%= current_user.email %>! (<%= current_user.type %> account)</p>
    <p>Pokus lang tayo sa goal natin 👍</p> 
    <%= link_to  "Sign out", destroy_broker_session_path, method: :delete %>

    <h3>Most Active</h3>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Company</th>
                <th>Price</th>
                <th>Change Percent</th>
            </tr>
        </thead>

        <tbody>
            <% @most_active.each do |stock|%>
            <tr>
                <td><%= link_to stock.symbol, stock_path(Stock.find_by(symbol: stock.symbol)) %></td>
                <td><%= stock.company_name %></td>
                <td><%= stock.iex_realtime_price %></td>
                <td><%= stock.change_percent_s %></td>
                <% if BrokerStock.all.where(user_id: current_user.id, stock_id: stock.symbol).count > 0 %>
                    <% id = BrokerStock.find_by(user_id: current_user.id, stock_id: stock.symbol) %>
                    <td><%= button_to 'Remove', broker_stock_path(id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% else %>
                    <%= form_with model: BrokerStock.new, local: true do |f| %>
                        <%= f.hidden_field :user_id, :value => current_user.id %>
                        <%= f.hidden_field :stock_id, :value => stock.symbol %>
                        <%= f.hidden_field :companyname, :value => stock.company_name %>
                        <%= f.hidden_field :quantity, :value => nil %>
                        <%= f.hidden_field :price, :value => stock.iex_realtime_price %>
                        <td><%= f.submit 'Add to Portolio' %></td>
                        <% end %>
                <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>

    <h3>Gainers</h3>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Company</th>
                <th>Price</th>
                <th>Change Percent</th>
            </tr>
        </thead>

        <tbody>
            <% @gainers.each do |stock|%>
            <tr>
                <td><%= stock.symbol %></td>
                <td><%= stock.company_name %></td>
                <td><%= stock.iex_realtime_price %></td>
                <td><%= stock.change_percent_s %></td>
                <% if BrokerStock.all.where(user_id: current_user.id, stock_id: stock.symbol).count > 0 %>
                    <% id = BrokerStock.find_by(user_id: current_user.id, stock_id: stock.symbol) %>
                    <td><%= button_to 'Remove', broker_stock_path(id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% else %>
                    <%= form_with model: BrokerStock.new, local: true do |f| %>
                        <%= f.hidden_field :user_id, :value => current_user.id %>
                        <%= f.hidden_field :stock_id, :value => stock.symbol %>
                        <%= f.hidden_field :companyname, :value => stock.company_name %>
                        <%= f.hidden_field :quantity, :value => nil %>
                        <%= f.hidden_field :price, :value => stock.iex_realtime_price %>
                        <td><%= f.submit 'Add to Portolio' %></td>
                        <% end %>
                <% end %>
            </tr>    
            <% end %>

        </tbody>
    </table>

    <h3>Losers</h3>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Company</th>
                <th>Price</th>
                <th>Change Percent</th>
            </tr>
        </thead>

        <tbody>
            <% @losers.each do |stock|%>
            <tr>
                <td><%= stock.symbol %></td>
                <td><%= stock.company_name %></td>
                <td><%= stock.iex_realtime_price %></td>
                <td><%= stock.change_percent_s %></td>
                <% if BrokerStock.all.where(user_id: current_user.id, stock_id: stock.symbol).count > 0 %>
                    <% id = BrokerStock.find_by(user_id: current_user.id, stock_id: stock.symbol) %>
                    <td><%= button_to 'Remove', broker_stock_path(id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% else %>
                    <%= form_with model: BrokerStock.new, local: true do |f| %>
                        <%= f.hidden_field :user_id, :value => current_user.id %>
                        <%= f.hidden_field :stock_id, :value => stock.symbol %>
                        <%= f.hidden_field :companyname, :value => stock.company_name %>
                        <%= f.hidden_field :quantity, :value => nil %>
                        <%= f.hidden_field :price, :value => stock.iex_realtime_price %>
                        <td><%= f.submit 'Add to Portolio' %></td>
                        <% end %>
                <% end %>
            </tr>    
            <% end %>

        </tbody>
    </table>

<% elsif broker_signed_in? && !current_user.approved? %>
    <p>Welcome <%= current_user.email %>! (<%= current_user.type %> account)</p>
    <p>Pokus lang tayo sa goal natin 👍</p>
    <p>Paapprove ka muna sa admin pre</p>  
    <%= link_to  "Sign out", destroy_buyer_session_path, method: :delete %>    

<% elsif admin_signed_in? %>
    <p>Welcome <%= current_user.email %>! (<%= current_user.type %> account)</p>
    <p>Pokus lang tayo sa goal natin 👍</p> 
    <%= link_to  "Sign out", destroy_admin_session_path, method: :delete %>

    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>Type</th>
                <th>Approved</th>
            </tr>
        </thead>

        <tbody>
            <% @users.each do |user| %>
            <tr>
                <td><%= user.email %></td>
                <td><%= user.type %></td>
                <td><%= user.approved %></td>
                <% if user.type == 'Broker' && user.approved == false %>
                    <%= form_with model: user, method: :patch do |f| %>
                        <%= f.hidden_field :approved, :value => true %>
                        <td><%= f.submit 'Approve' %></td>
                    <% end %>
                <% else %>
                    <%= form_with model: user, method: :patch do |f| %>
                        <%= f.hidden_field :approved, :value => false %>
                        <td><%= f.submit 'Unapprove' %></td>
                    <% end %>
                <% end %>
                <td><%= link_to 'Show', user %></td>
                <% if user.type == 'Broker' %>
                    <td><%= link_to 'Edit', edit_broker_path(user) %></td>
                <% elsif user.type == 'Buyer' %>
                    <td><%= link_to 'Edit', edit_buyer_path(user) %></td>
                <% elsif user.type == 'Admin' %>
                    <td></td>
                <% end %>
                <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

<% else %>
    <%= link_to  "Sign up", new_user_registration_path %>
    <%= link_to  "Sign in", new_user_session_path %>

<% end %>


    <p><%= @client.price('MSFT') %></p>
    <p><%#= @symbols.class %></p>
    <p><%#= @symbols.length %></p>


    