#{name = current_user.present? ? current_user.email : ""}
%div{ class: 'w-screen h-screen max-w-full max-h-full text-gray-50 bg-no-repeat bg-cover flex flex-col items-center justify-center', 
:style => "background-image: url(#{image_path "finance.jpg"})" }

  - if user_signed_in?
    %div{ class: 'px-32 py-20 bg-gray-800 rounded'}
      %h1{ class: 'm-10 text-3xl font-bold' } Welcome, #{name}
      %div{ class: 'flex flex-col items-center gap-4' }
        %h3{ class: 'text-5xl'} Balance
        %h3{ class: 'text-4xl'}= @balance
  - else
    %h1{ class: 'm-5 text-5xl font-bold text-white' } Welcome to StockBro
    %h2{ class: 'mb-5 text-3xl' } Your market companion
    %button{ class: 'mt-10 px-8 py-2 text-xl font-bold bg-yellow-500 rounded' }= link_to 'SIGN UP', new_user_registration_path 
