<h1>HOME</h1>
<%= link_to "Sign in as buyer", new_buyer_session_path, class: "nav-link" %>
<%= link_to "Sign in as broker", new_broker_session_path, class: "nav-link" %>
<%= link_to "Sign in as admin", new_admin_session_path, class: "nav-link" %>
<%= link_to "Sign out (Buyer)", destroy_buyer_session_path, method: :delete %>
<%= link_to "Sign out (Broker)", destroy_broker_session_path, method: :delete %>
<%= link_to "Sign out (Admin)", destroy_admin_session_path, method: :delete %>