<h1> Home</h1>

<%= form_tag root_path, :method => 'POST' do%>
    <%= text_field_tag "ticker_input", nil, placeholder: "Enter Ticker Symbol" %>
    <%= submit_tag "Search" %>
<% end %>

<br>

<% if @quote %>
    <%= @quote.symbol%><br>
    <%= @quote.company_name%><br>
    $<%= @quote.latest_price%><br>
    <%= @quote.change_percent_s %><br>
    <%= @quote.change%><br>
<% elsif @nothing %>
    <%= @nothing %>
<% end %>


<% if @error %>
    <%= @error %>
<% end %>