<br/>
<div class="card mb-3">
<h1> <%=@tour.name%> </h1>
    <% if @tour.images.attached?%>
        <%@tour.images.each do |image|%>
            <img class="img-fluid card-img-top"   src="<%=(url_for(image))%>" alt="...">
         <%end%>
    <%end%>
  <div class="card-body">
    <div class="d-flex justify-content-evenly">
      <div class="container-sm"> 
        <h2> <%=@tour.location%> </h2>
        <h3 id = tour-price data-price = <%=@tour.price%> >Price: <%=@tour.price%></h3>
        <h3 id = tour-duration data-duration = <%=@tour.duration%>>Duration: <%=@tour.duration%> day/s</h3>
        <h3>Details:</h3>
        <p><%=@tour.details%></p>
      </div>

      <div>
        <%= form_with url: checkouts_path, local: false, remote: true do |f|%>
          <div>
            <%= f.label :guest_quantity%> <br>
            <%= f.number_field :quantity, id: 'guest_quantity'%>
          </div>
          
          <div>
            <%= f.label 'Total Price'%> <br>
            <%= f.number_field :amount, readonly: true, id: 'total_price', min: 1%>
          </div>

          <div>
            <%= f.label :start_date%> <br>
            <%= f.date_field :start_date, id: 'start-date'%>
          </div>

          <div>
            <%= f.label :end_date%> <br>
            <%= f.date_field :end_date, readonly: true, id: 'end-date'%>
          </div>

          <%= f.hidden_field :tour_id, value: @tour.id%>
          <%= f.submit 'Avail'%>
        <%end%>
      </div>
    </div>
  </div>
</div>
 <%= javascript_pack_tag 'tourist_tour_new' %>