<h1> Registered Users </h1>

<% @users.each do |user| %>
  <% if user.status == 'approved' %>
   <p> Username: <%= user.username %> </p>
   <p> Email: <%= user.email %>  </p>
    <%= link_to "View", admins_view_path(id: user.id), method: 'get' %>
    <%= link_to "Edit User", edit_user_path(id: user.id), method: 'get' %> </br>
  <% end %>
<% end %>

<%= link_to "Back", admins_home_path %> 