<h3> User Info </h3>

<p> User ID: <%= @user.id %> </br> </p>
<p> Username: <%= @user.username %> </br> </p>
<p> Email: <%= @user.email %> </br> </p>
<p> First Name: <%= @user.first_name %> </br> </p>
<p> Last Name: <%= @user.last_name %> </br> </p>
<p> Status: <%= @user.status %> </p>
</br>
</br>
<%= link_to "Back", admins_show_pending_users_path %>
