<div class="card">
  <h5 class="card-header">User Info</h5>
  <div class="body"></br>
    <h5 class="card-title"><%= @user.username %></h5>
    <p class="card-text"><%= @user.email %></p>
    <p class="card-text"><%= @user.first_name %></p>
    <p class="card-text"><%= @user.last_name %></p></br>
  </div>
</div>

</br>
<%= link_to "Back", admins_show_registered_users_path, class: "btn btn-warning bck-btn" %>


