<br/><br/>
<div class="container">
  <div class="row m-5 p-3 shadow-lg">
      <h1 class="heading-primary-h1 text-center" id="title">Edit Tour</h1><br/>
      <%= render 'shared/errors', obj: @tour %>
      <%= form_with scope: :tour, model: @tour,method: :patch, local:true do |f|%>
        <div class="col p-3">
          <div class="form-group pb-3">    
            <%= f.text_field :name, autofocus: true,placeholder:"Package Name",class:"form-control" %>
          </div>
          <div class="form-group pb-3">   
            <%= f.number_field :price, step: 0.001,placeholder:"Price",class:"form-control" %>
          </div>
          <div class="form-group pb-3">   
            <%= f.text_field :location, placeholder: "Tour location" ,class:"form-control" %>
          </div>
          <div class="form-group pb-3">   
            <%= f.number_field :duration, step:1, placeholder: "Duration" ,class:"form-control" %>
          </div>
        </div>
        <div class="col p-3">
          <div class="d-flex flex-row-reverse justify-content-center">
              <img class="img-fluid shadow-lg" id="img_prev" src="<%= asset_path('upload_image.png')%>" alt="">
                <div class="flex-column align-content-end shadow-lg px-3">
                  <div class="images-container pb-5" id='images-prev'>
                  </div>
                  <div class="mb-3">
                    <%= f.label :"Select Hero Image",:class=>"form-label"%>
                    <%= f.file_field :images, multiple: true,:class=>"form-control form-control image-upload"%>
                  </div>
                </div>
          </div>
        </div>
        <div class="mb-3">
          <%= f.label :"Tour Details", :class=>"form-label"%><br/>
          <%= f.rich_text_area :details, wrap: "hard", placeholder: "Tour Details here" ,:class=>"form-control blog-body" %>
        </div>
          <div class="d-flex justify-content-start">
              <%= f.submit "Update",class:"btn btn-success me-3" %>
              <%= link_to 'Cancel',tours_path, class:'btn btn-danger' %> 
          </div>
      <% end %>
  </div>
</div>
<%= javascript_pack_tag 'image_preview' %>