<div class="container">
  <div class="row m-5 no-gutters shadow-lg">
    <div class="col bg-white p-5">
      <h1 class="heading-primary-h1">Create a new Tour</h1>
      <%= render 'shared/errors', obj: @tour %>
      <div class="form-style">
        <%= form_with scope: :tour, url: tours_path, local:true do |f|%>
          <div class="form-group pb-3">    
            <%= f.text_field :name, autofocus: true,placeholder:"Package Name",class:"form-control" %>
          </div>
          <div class="form-group pb-3">   
            <%= f.number_field :price,placeholder:"Price",class:"form-control" %>
          </div>
          <div class="form-group pb-3">   
            <%= f.text_field :location, placeholder: "Tour location" ,class:"form-control" %>
          </div>
          <div class="form-group pb-3">   
            <%= f.number_field :duration, step:1, placeholder: "Duration" ,class:"form-control" %>
          </div>
          <div class="col bg-white p-5">
              <img class="img-fluid" id="img_prev" src="<%= asset_path('upload_image.png')%>" alt="">
              <div class="images-container p-3" id='images-prev'> 
              </div>
              <div class="mb-3">
                <%= f.label :"Select Hero Image",:class=>"form-label"%>
                <%= f.file_field :images, multiple: true,:class=>"form-control form-control-lg image-upload"%>
              </div>
          </div>
          <div class="mb-3">
              <%= f.label :"Tour Details", :class=>"form-label"%><br/>
              <%= f.rich_text_area :details, wrap: "hard", placeholder: "Tour Details here" ,:class=>"form-control blog-body"%>
            </div>
            <div class="d-flex flex-row-reverse">
              <%= link_to 'Cancel',tours_path, class:'btn btn-danger' %> 
              <%= f.submit "Post",class:"btn btn-success mx-3" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'image_preview' %>