<div class="container">
  <%= form_with model: @transaction, url: buy_stock_path, method: :post do |f| %>
    <% buyer_stock = @transaction.broker_stock %>
    <% stock = buyer_stock.stock %>

    <div class="field form-group">
      <h3>Company: <%= stock.stock %></h3>
    </div>

    <div class="field form-group">
      <h3>Latest Price: <%= stock.price %></h3>
    </div>

    <div class="field form-group">
      <h3>Current Amount: <%= @transaction.amount %></h3>
    </div>

    <div class="field form-group">
      <%= f.number_field :purchased_stock, autofocus: true, placeholder: "Amount", class: "form-control" %>
    </div>

    <div class="actions mt-5">
      <%= f.submit "Buy", class: "btn btn-primary bg-orange btn-block" %>
    </div>
  <% end %>
</div>