<h1> This is our home page </h1>

<p> henlo</p>


<p> search bar function </p> </br> <p> Try TSLA, AAPL, FB </p>
<%= form_tag root_path, :method => 'POST' do %>
 <%= text_field_tag 'search_bar', nil, placeholder: "Enter the stock code name", size: 50 %>
 <%= submit_tag 'Search' %>
 <% end %>

<% if @stock %>
  <%= @stock.company_name %>
<% end %>


<div>
  <ul>
  <li><%= link_to "Sign up", new_user_registration_path %></li>
  <li><%= link_to "Log In", new_user_session_path %></li>
  </ul>
</div>