<h1>This is our home page </h1>

<p>henlo</p>


<p> search bar function </p> </br> <p> Try TSLA, AAPL, FB </p>
<%= form_tag root_path, :method => 'POST' do %>
 <%= text_field_tag 'ticker', nil, placeholder: "Enter the stock code name", size: 50 %>
 <%= submit_tag 'Search' %>
 <% end %>

<% if @stock %>
  <%= @stock.company_name %>
  $<%= @stock.latest_price %>
  <% elsif @blankSearch %>
    <%= @blankSearch %>
<% end %>

<% if @stockErr %>
  <%= @stockErr %>
<% end %>

<div>
  <ul>
    <% if user_signed_in?  %>
      <li><%= link_to "Edit Profile", edit_user_registration_path %> </li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %> </li>
      <li><%= link_to "Show stock", stocks_path %> </li>
      <li><%= link_to "Add stocks", new_stock_path %> </li>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      <li><%= link_to "Log In", new_user_session_path %></li>
    <% end %>
  </ul>
</div>