<h1>Home Page</h1>
<%= @test %>
<h1>TEST2</h1>

<% if current_user %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <%= link_to "Edit", edit_user_registration_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% else%>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Sign in as Admin", new_admin_session_path %>
<% end %>