<table class = "table">
<tr scope="column">
  <td>Entry ID</td>
  <td>Date</td>
  <td>Description</td>
  <td>or-or_vat_reg_tin</td>
  <td>DEBIT (+)</td>
  <td>CREDIT (-)</td>
  <td>Balance</td>
  <td>Action</td>
</tr>
<% @main_books.each do |mainbook| %>
 <tr scope="column">
  <td><%= mainbook.id %></td>
  <td><%= mainbook.date_mainb %></td>
  <td><%= mainbook.mainbook_description %></td>
  <td><%= mainbook.or_vat_reg_tin_mainb %></td>
  <td><%= mainbook.debit_mainb %></td>
  <td><%= mainbook.credit_mainb %></td>
  <td><%= mainbook.balance_mainb %></td>
  <div>
  <td>
    <button type="button" class="btn btn-secondary"><%= link_to "Edit", edit_main_book_path(mainbook.id) %></button>
    <button type="button" class="btn btn-danger">DELETE</button>
  </td>
  </div>
</tr>
<% end %>
</table>
