<div class = "books-table-header"> MAIN BOOK ENTRIES </div>
<div class = "books-table-container">
  <div class="table-responsive-lg">
    <table class="table">
      <tr scope="column">
      <td class = "label">User ID</td>
      <td class = "label">Entry ID</td>
      <td class = "label">Date</td>
      <td class = "label">Description</td>
      <td class = "label">or-or_vat_reg_tin</td>
      <td class = "label">DEBIT (+)</td>
      <td class = "label">CREDIT (-)</td>
      <td class = "label">Balance</td>
      <td class = "label">Action</td>
    </tr>
    <% @main_books.each do |mainbook| %>
    <% if mainbook.user == current_user %>
    <tr scope="column">
      <td><%= mainbook.user_id%></td>  
      <td><%= mainbook.id %></td>
      <td><%= mainbook.date_mainb %></td>
      <td><%= mainbook.mainbook_description %></td>
      <td><%= mainbook.or_vat_reg_tin_mainb %></td>
      <td><%= mainbook.debit_mainb %></td>
      <td><%= mainbook.credit_mainb %></td>
      <td><%= calculate_balance(mainbook.debit_mainb, mainbook.credit_mainb) %></td>
      <div>
      <td>
        <button type="button" class="btn btn-secondary"><%= link_to "Edit", edit_mainbook_path(mainbook.id) %></button>
        <button type="button" class="btn btn-danger"><%= link_to "Delete", delete_entry_path(mainbook.id), method: :destroy, :data => { :confirm => "Are you sure?" } %></button>
      </td>
      </div>  
    </tr>
    <% end %>
    <% end %>
    </table>
  </div>
</div>
<button type="button" class="btn btn-outline-light"><%= link_to "Back", mainbook_path %></button>
<button type="button" class="btn btn-outline-light"><%= link_to "Add Entry", mainbook_new_path %></button>
