<%# Form SCSS  %>
<%= stylesheet_link_tag "/objects/_forms.scss" %>

<div class='form-container'>
  <div class='form'>
    <h1>Welcome Back</h1>
    <h5>Login to continue</h5>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'text-field', :placeholder => 'Username' %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", :class => 'text-field', :placeholder => 'Password' %>
      </div>
        <% if devise_mapping.rememberable? %>
          <div class='checkbox'>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="actions form-btn">
          <%= f.submit "Login", :class => 'btn' %>
        </div>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>