<div class="container">
  <div class='d-flex flex-column justify-content-between align-items-center mb-4'>
    <div class='col-md-8 col-11 mt-4 mb-5'>
      <div class='card' id='login'>
        <div class="card-body shadow-lg rounded px-5 py-5">

        <h1 class='card-title mb-3'>Log-in<i class="bi bi-person-plus"></i></h1>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-100 mb-3 form-control'%>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: 'w-100 mb-3 form-control' %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field mb-3">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.button "Log in", class: 'btn btn-primary mb-4 shadow rounded mt-3 form-control', data: {disable_with: "<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span> Logging in..."}  %>
          </div>
        <% end %>
        <p class='mb-0 text-muted'>New to StockApp? Register <%= link_to "here", new_user_registration_path %>.</p>

      </div>
      </div>
    </div>
  </div>
</div>
