<script src="https://use.fontawesome.com/f59bcd8580.js"></script>
<br/><br/><br/>
<div class="container">
  <div class="row m-5 no-gutters shadow-lg">
    <div class="col-md-6 d-none d-md-block">
    <% if resource_name == :tourist %>
    <img src="https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
    <% elsif resource_name == :agency %>
    <img src="https://images.unsplash.com/photo-1504609773096-104ff2c73ba4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" />
    <% elsif resource_name == :admin %>
    <img src="https://images.unsplash.com/photo-1492551557933-34265f7af79e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
    <%end %>
    </div>
    <div class="col-md-6 bg-white p-5">
      <% if current_page?(new_tourist_session_path) %>
          <h3 class="pb-3" id="title">Tourist Login</h3>
      <% elsif current_page?( new_agency_session_path) %>
          <h3 class="pb-3" id="title">Agency Login</h3>
      <% elsif current_page?( new_admin_session_path) %>
        <h3 class="pb-3" id="title">Admin Login</h3>
      <%end %>
    <div class="form-style">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group pb-3">    
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Email",class:"form-control" %>
      </div>
      <div class="form-group pb-3">   
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password",placeholder:"Password",class:"form-control" %>
      </div>
    <div class="d-flex align-items-center justify-content-between">
    <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
    </div>
      <div class="pb-2">
        <div class="actions">
          <%= f.submit "Log in",class:"btn btn-dark w-100 font-weight-bold mt-2" %>
        </div>
      </div>
   <% end %>
    <%= render "devise/shared/links" %>
    </div>
    </div>
  </div>
</div>
