<div class="dashboard_index">
    <%=render 'shared/nav_dashboard'%>
    <div class="dashboard_body">
        <%=render 'shared/sidebar'%>
        <div class="portfolio_main">
            <div class="portfolio_transaction">
                <%=render 'transaction'%>
            </div>
            <div class="portfolio_side">
                <%=render 'shared/most_active', :stocks => @gainers, :gain => true %>
                <%=render 'shared/most_active', :stocks => @losers, :gain => false %>
            </div>
        </div>
    </div>
</div>