<div class="products_items">
  <% if @item != nil %>
    <div class="item">
      <div class="item_details">
        <h6 class="item_description">
            <%= link_to @item.user.username, user_path(@item.user) %>
        </h6>
        <% if user_signed_in? %>
          <% if current_user.id === @item.user_id %>
            <div class="dropdown">
              <button class="dropdown_btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag "options.svg", class: "options" %>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item edit" data-toggle="modal" data-target="#update-item-modal">Edit listing</a>
                <%= form_with scope: :comment, method: :delete, url: item_path(@item.id), local: true do |f| %>
                  <%= f.submit :"Delete listing", :class => "dropdown-item" %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    
      <% status = @item.status == 'open' ? '' : "(" + @item.status.capitalize + ")"%>
      <h5 class="item_name">
        <%= @item.name %>
        <span class="status font-italic text-warning fw-light"><%= status %></span>
      </h5>
      <h6 class="item_description"><%= @item.description %></h6>

      <!-- make carousel for item images -->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <% (0...@item.images.count).each do |image| %>
                <% active = image == 0 ? 'active' : '' %>
                <div class="carousel-item <%= active %>">
                    <%= image_tag @item.thumbnail(image), class: "d-block" %>
                </div>
            <% end %>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
      </div>

      <!-- showing comments and send message button when user is logged in -->
      <% if user_signed_in? %>
        <%= form_with scope: :comment, url: comment_path(@item.id), local: true do |f| %>
          <div class="user_comment">
            <%= f.text_area :body, autofocus: true, id:"comment_user", class: "comment", placeholder: 'Write a public comment...' %>
            <%= f.hidden_field :commenter_id, value: current_user.id %>
            <%= f.submit "Post Comment", class: 'btn btn-primary' %>
          </div>
          <%= javascript_pack_tag 'comment.js' %>
        <% end %>

        <!-- create conversation form when "Send Message" button is clicked -->
        <% if @item.user.id != current_user.id %>
            <%= form_with scope: :conversation, url: item_conversations_path(@item.id), local: true do |f| %>
                <%= f.hidden_field :item_id, value: @item.id %>
                <%= f.hidden_field :user1_id, value: @item.user.id %>
                <%= f.hidden_field :user2_id, value: current_user.id %>
                <%= f.submit "Send Message", class: 'btn btn-primary' %>
            <% end %>
        <% end %>    
      <% end %>

      <!-- showing item comments -->
      <% if user_signed_in? %>
        <% @comments.each do |comment| %>
            <%= render 'comments/comment', t: comment %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <h1>Item has been removed by User</h1>
  <% end %>
</div>

<% if user_signed_in? %>
  <% if @item != nil %>
    <% if current_user.id == @item.user.id %>
      <!-- edit listing modal -->
      <div class="modal fade" id="update-item-modal" tabindex="-1" aria-labelledby="update-item-modalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="update-item-modalLabel">Edit listing</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= form_with scope: :item, url: item_path(@item.id), method: :put, local: true do |f| %>
                <div class="field">
                  <%= f.label :name %><br />
                  <%= f.text_field :name, class: "form-control", autofocus: true %>
                </div>
                <br>

                <div class="field">
                  <%= f.label :images %><br />
                  <%= f.file_field :images, multiple: true %>
                </div>
                <br>

                <div class="field">
                  <%= f.label :description %><br />
                  <%= f.text_area :description, class: "form-control", size: "30x10", autofocus: true %>
                </div>
                
                <%= f.hidden_field :status, value: "open" %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= hidden_field_tag(:user_id, current_user.id) %>
                <div class="modal-footer">
                  <%= f.submit "Update listing", class: "btn btn-primary" %>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                
              <% end %>
            </div>
            
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
