<div class="container">
  <div class="products">
    <div class="items">
      <%= image_tag("altpic.png", :class => "itempic") %>
      <h5 class="item_name"><%= @item.name %></h5>
      <h6 class="item_name"><%= @item.description %></h6>
      <h6 class="item_name"><%= @item.user.email %></h6> <!--we can change this username-->
      <div>
        <!--if convo !exist, create new-->
        <!--hidden form for create new conversation-->
        <div><%= render 'conversations/form' %></div>
        <div class="btn btn-primary">Like</div>
      </div>
    </div>
  </div>
</div>
