<head>
  <%= stylesheet_link_tag "items" %> 
</head> 
<body>
    <% if user_signed_in? %>
        <%= render 'home/sidebar' %>
    <% end %>
    

  <div class="container">
    <div class="products_items">
      <div class="item">
        <%= image_tag("altpic.png", :class => "itempic") %>
        <h5 class="item_name"><%= @item.name %></h5>
        <h6 class="item_description"><%= @item.user.email %></h6>
        <h6 class="item_description"><%= @item.description %></h6>

        <% if user_signed_in? %>
          <%= form_with scope: :comment, url: items_comment_path(@item.id), local: true do |f| %>
            <div class="user_comment">
              <%= f.text_area :body, autofocus: true, id:"comment_user", class:"comment", placeholder: 'Write a public comment...' %>
              <%= f.hidden_field :commenter_id, value: current_user.id %>

              <%= f.submit "Post Comment", :class => "post_item" %>
            </div>
            <%= javascript_pack_tag 'comment.js' %>
          <% end %>

            <% if @item.user.id != current_user.id %>
                <%= form_with scope: :conversation, url: item_conversations_path(@item.id), local: true do |f| %>
                    <%= f.hidden_field :item_id, value: @item.id %>
                    <%= f.hidden_field :user1_id, value: @item.user.id %>
                    <%= f.hidden_field :user2_id, value: current_user.id %>
                    <%= f.submit "Send Message" %>
                <% end %>
            <% end %>    
        <% end %>

        <% @comments.each do |t| %>
          <div class="comment_section">
            <h5 class="commenter_name"><%= User.find_by(id: t.commenter_id).email %></h5>
            <h5 class="commenter_description"><%= t.body %></h5>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</body>
