<section class="container-static">
<div class="img-form-page">
    <%= inline_svg_tag('forgot_pwd_page.svg') %>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions" %>
    </div>
  <% end %>

  <div class="devise-shared-link">
    <%= render "users/shared/links" %>
  </div>
</section>

