<div class="w-full p-5 rounded-md shadow-lg grid justify-items-stretch mt-10 ">

<div>
  <div class="inline"><%= image_tag("buyer.png",class:"object-contain xs:w-auto sm:w-1/4 md:w-1/5  inline",alt:"Transactions Image ") %></div>
  <div class="inline"><h1 class="inline ml-10 text-xl font-bold">Stocks For Sale</h1></div>
</div>

	<div class="container flex items-center justify-center justify-self-center mt-5">    
		
        <% if @forsale.any? %>
        <table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
			<thead class="text-white">
            <% @forsale.each do %>
				    <tr class="bg-blue-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-3 sm:mb-0">               
                        <th class="p-3 text-left">Broker Name</th>
                        <th class="p-3 text-left">Symbol</th>
                        <th class="p-3 text-left">Company</th>
                        <th class="p-3 text-left">Selling Price</th>
                        <th class="p-3 text-left">Action</th>
				    </tr>
            <% end %>
			</thead>
			<tbody class="flex-1 sm:flex-none">
            <% @forsale.each do |sellitem| %>
                <tr class="flex flex-col flex-no wrap sm:table-row mb-3 sm:mb-0">
                    <td class="border-grey-light border hover:bg-gray-100 p-3"><%= User.find(sellitem.user_id).firstname%> <%= User.find(sellitem.user_id).lastname%> </td> 
                    <td class="border-grey-light border hover:bg-gray-100 p-3"><%= sellitem.ticker %></td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3"><%= sellitem.company %></td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3"><%= "$" %><%= sellitem.price %></td>
                    <td class="border-grey-light border hover:bg-gray-100 p-3"><%= link_to "Buy Stock",buyers_new_path(sellitem.id) ,class: "p-2 bg-green-500 text-gray-50 rounded-md",data: {disable_with: "Loading..."} %></td> 
                </tr> 

             <% end %>
			</tbody>
		</table>
        <% else %>
            <p>There are currently no stocks for sale by brokers...</p>
        <% end %>
	</div>
</div>

<style>
  html,
  body {
    height: 100%;
  }

  @media (min-width: 640px) {
    table {
      display: inline-table !important;
    }

    thead tr:not(:first-child) {
      display: none;
    }
  }

  td:not(:last-child) {
    border-bottom: 0;
  }

  th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
  }
</style>





