= form_for @market do |f|
  - if @market.errors.any?
    #error_explanation
      %h2= "#{pluralize(@market.errors.count, "error")} prohibited this market from being saved:"
      %ul
        - @market.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :logo
    = f.text_field :logo
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :symbol
    = f.text_field :symbol
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :buying_price
    = f.text_field :buying_price
  .field
    = f.label :selling_price
    = f.text_field :selling_price
  .actions
    = f.submit 'Save'
