<h1>Order's Entry</h1>

<div class="row">
    <div class="col-9">
        <%= form_with scope: :user_stocks, url: order_stocks_path, local:true do |f|%>
            <div class="form-group">
                <%= f.label :broker %>
                <%if @broker_stock%>
                    <%= f.select :broker_id, @stock.users.broker.map{|broker| [broker.email, broker.id]}, class: 'form-control', selected: "#{@broker_stock&.user&.id}"%>    
                <%else%>
                    <%= f.select :broker_id, @stock.users.broker.map{|broker| [broker.email, broker.id]}, class: 'form-control'%>    
                <%end%>
            </div>

            <div class="form-group">
                 <%= f.label :stock %>
                 <%= f.text_field :stock, autofocus: true, class: 'form-control', value:"#{@stock.name} (#{@stock.ticker})", :readonly => 'true' %>
                 <%=f.hidden_field :ticker, :value => @stock.ticker%>
            </div>
            <div class="form-group">
                <%= f.label :action %>
                <select name="user_stocks[type]" id="user_stocks_type class="form-select form-select_sort", data-reflex="change->OrderStock#action">
                    <option value= "buy" <%=@type == 'buy' ? 'selected' : ''%>>Buy</option>
                    <option value= "sell" <%=@type == 'sell' ? 'selected' : ''%>>Sell</option>
                </select>
            </div>
            <div class="form-group">
                <%= f.label :quantity %>
                <%= f.number_field :quantity, autofocus: true, class: 'form-control', id: 'stock-quantity', min:"1", max:"#{@type == 'sell' ? @available_qty : @max_qty}" %>
            </div>
            <div class="form-group">
                <%= f.label "Price" %>
                <%= f.number_field :stock_price, autofocus: true, class: 'form-control',id: 'stock-price', value:"#{@stock.last_price}", :readonly => 'true', step: 0.1%>
            </div>
            <div class="form-group">
                <%= f.label "Order Price" %>
                <%= f.number_field :order_price, autofocus: true, class: 'form-control', id: 'order-price', :readonly => 'true', step: 0.1%>
            </div>
            <div class="form-group">         
                <%= f.submit 'Submit order', class: 'btn btn-primary' %>
            </div>    
        <% end %>
    </div>
</div>
<div class="user-credit-info dflex" >
<div class="Buying-Power"><span>Buying Power:</span>$<%=number_with_precision(current_user.cash, :precision => 2)%></div>
    <div class="user-stock-quantity"><span>Available qty:</span><%=@available_qty%></div>
</div>
<%= javascript_pack_tag 'stock_order' %>