<div class="dashboard_index">
  <%=render 'shared/nav_dashboard'%>
  <div class="wallets_body">
    <%=render 'shared/sidebar'%>
      <div class="container admin_table">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Sign In Count</th>
              <th scope="col">Last Sign In At</th>
              <th scope="col">Status</th>
              <th scope="col">Role</th>
              <th scope="col">Action</th>
              <th></th>
            </tr>
              </thead>
              <tbody>
                <%@users.each do |user|%>
                  <tr>
                    <th scope="row"><%=user.username%></th>
                      <td><%=user.email%></td>
                      <td><%=user.sign_in_count%></td>
                      <td><%=user.current_sign_in_at%></td>
                      <td><%=user.status%></td>
                      <% if user.roles[0] %>
                      <td><%= user.roles[0].role%></td>
                      <%else%>
                      <td></td>
                      <%end%>
                      <td>
                        <%= link_to "Accept", admin_user_path(user.id), method: :patch %>
                        <%= link_to "Delete", admin_user_path(user.id), method: :delete, data: {confirm: "Are you sure you want to remove this #{user.email}?"} %>
                      </td>
                  </tr>
                <%end%>
              </tbody>
        </table>
    </div>
  </div>
  <%=render 'shared/links'%>
  <%=render 'shared/footer'%>
</div>
