<%= render '/portfolios/shared' %>

<% @transactions.each do |t| %>
    <p><%= t.stock_name %></p>
    <p><%= t.stock_symbol %></p>
    <p><%= t.current_price %></p>
    <p><%= t.count_shares %> shares </p>
    <p> for <%= t.total_price %></p>
<% end %>
