<div class="dashboard2 margin-left-none2">
  <section class="container container-content mt-6 mr-6 ml-6">
    <h1 class="has-text-centered is-size-4 has-text-weight-bold green"><%= params[:transaction_type] +"ing [#{Stock.find(params[:stock_id]).code}]" %></h1>
    <div class="is-size-5 has-text-weight-bold purple has-text-centered mt-1">Avg Price: <%= number_to_currency Stock.find(params[:stock_id]).price %> </div>
    <div class="columns mt-5">
      <div class="column is-6 container-left">
        <%= image_tag("cash-payment-animate.svg", :alt => "rss feed") %>
      </div>
      <div class="column is-6 container-right" id="login_user">
        <% @decision = (params[:from_portfolio] || params[:from_search]) ? create_transaction_path : transactions_update_path %>
        <%= form_with url: @decision, method: (params[:from_portfolio] || params[:from_search]) ? 'post' : 'patch', class: 'new_user' do |f| %>
          <div class="field">
            <div class="control">
              <%= f.label :volume, class:"label has-text-black" do %>
                <%if !params[:from_portfolio]%>
                  <p>Volume <i>(max: <%= params[:id] ? Transaction.find(params[:id]).volume : 'N/A' %>)</i>: </p>
                <%else%>
                  <p> Volume <i>(max: <%= params[:transaction_type] == 'Sell' ? ([params[:volume].to_i, BuyersStock.volume_of(current_user.id, params[:stock_id]).to_i].min) : 'N/A' %>)</i>: 
                    <p>
                    <%end%>
                  <%end%>
                  <%= f.number_field :volume, autofocus: true, class:"input"%>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <%= f.label :price, class:"label has-text-black" %>
                  <%#REFACTOR THIS LATER%>
                  <%if current_user.role == Role.find_by(name: 'Broker')%>
                    <%= f.number_field :price, step: :any, autofocus: true, class:"input", disabled: true, value: params[:price] %>
                    <%= f.hidden_field :price, value: params[:price]%>
                  <%elsif params[:from_search]%>
                    <%= f.number_field :price, step: :any, autofocus: true, class:"input", value: params[:price] %>
                  <%else%>
                    <%= f.number_field :price, step: :any, autofocus: true, class:"input", disabled: (!params[:from_portfolio] && !params[:from_search]), value: params[:price] %>
                  <%end%>
                </div>
              </div>
              <% if params[:id]%>
                <%= f.hidden_field :id, value: params[:id]%>
              <%end%>
              <%= f.hidden_field :transaction_type, value: params[:transaction_type]%>
              <%= f.hidden_field :stock_id, value: params[:stock_id]%>
              <% if (!params[:from_portfolio] && !params[:from_search]) %>
                <%= f.hidden_field :price, value: params[:price]%>
              <%end%>
              <div class="actions">
                <%= f.button :submit, class: 'button start-now-two-inverted', value: 'Process', data: {disable_with: "Processing..."} do%>
                  Process
                <% end %>
              </div>
            <%end%>
          </div>
