%p#notice= notice

%p
  %b Stock:
  = @transaction.stock_id
%p
  %b Price:
  = @transaction.price
%p
  %b User:
  = @transaction.user_id

= link_to 'Edit', edit_transaction_path(@transaction)
\|
= link_to 'Back', transactions_path
