<div class="container wallets_container">
	<div class="deposit_card">
		<h4> WALLET </h4>
		<%= form_with do |form| %>
			<div class="form-group form_item">
				<div class="col-8">
					<%= form.label :deposit, "Top up:", class: "col-3 col-form-label wallets_label"%>
					<%= form.number_field :deposit, class: "form-control shadow rounded", placeholder: "Enter Amount" %>
				</div>
			</div>
			<div class="form_credit_details_btn">
				<%= form.submit "                                     Add Money                                          ", class: "btn btn-secondary wallets_btn" %>
			</div>
  	<%end%>
	<div class="deposits_account_balance">
		<div class="deposits_account_balance_main">
			<h2>$ <%= @balance %></h2>
		</div>
		</div>
	</div>
</div>
