<%= form_with model: broker do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
    <% broker.errors.full_messages_for(:username).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %><br>
    <% broker.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :password %><br>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= form.password_field :password %>
    <% broker.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation %>
    <% broker.errors.full_messages_for(:password_confirmation).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>