<div class="container">

<div class="w-full ml-10 p-5  rounded-md shadow-lg">
<h1 class="text-xl font-medium">Most Active Stock Market List</h1> <br>

<div class="flex justify-center">
<% @mostactive = @client.stock_market_list(:mostactive) %>

     <table class="table-auto">
    <thead>
        <tr >
            <th class="p-2 border-2">Company Name</th>
            <th class="p-2 border-2">Symbol</th>
            <th class="p-2 border-2">Latest Price</th>
            <th class="p-2 border-2">Latest Update</th>
            <th class="p-2 border-2">Action</th>
        </tr>
    </thead>
    <tbody>
         <% @mostactive.each_with_index do |active,index| %>
        
        <tr>
        
            <td class="p-5 border-2"><%= @mostactive[index].company_name %></td>
            <td class="p-5 border-2"><%= @mostactive[index].symbol %></td>
            <td class="p-5 border-2"><%= "$" %><%= @mostactive[index].latest_price%></td>
            <td class="p-5 border-2"><%= @mostactive[index].latest_time %></td>
            <td class="p-5 border-2"><%= link_to "Add stock to Portfolio", create_brokers_path({user_id: current_user.id, ticker: @mostactive[index].symbol,company:@mostactive[index].company_name, price: @mostactive[index].latest_price}), method: :post,data: { confirm: "Add this stock to your Broker Portfolio ?" },class: "p-2 bg-green-500 text-gray-50 rounded-md" %></td> 
      
        </tr>  

        <% end %>
    
    </tbody>
    </table>

</div>
   
</div>
</div>

