<section class="create-wrapper-body">
  <div class="create-wrapper">

    <%= form_with scope: :broker, url: admin_brokers_path() do |f|%>

      <article class="create-input-data">
        <h2>Create Broker</h2>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"create-admin-input" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"create-admin-input" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"create-admin-input" %>
        </div>
        
        <div class="field">
          <%= f.submit "Create Broker", class:"btn" %>
        </div>

      </article>
    <%end%>
  </div>
</section>