<h1>Create Broker</h1>

<%= form_with scope: :broker, url: admin_brokers_path() do |f|%>
    <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<%end%>

