<div class="w-full p-5 rounded-md shadow-lg grid justify-items-stretch mt-10 ">

<div>
  <div class="inline"><h1 class="inline ml-10 text-xl font-bold">Registered User Accounts</h1></div>
</div>

	<div class="container flex items-center justify-center justify-self-center mt-5">    
		
        <% if @users.any? %>
        <table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
			<thead class="text-white">
            <% @users.each do %>
				    <tr class="bg-blue-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-3 sm:mb-0">               
                        <th class="p-3 text-left">ID</th>
                        <th class="p-3 text-left">Role</th>
                        <th class="p-3 text-left">Email</th>
                        <th class="p-3 text-left">Registered At</th>
                        <th class="p-3 text-left">Action</th>
				    </tr>   
            <% end %>
			</thead>
			<tbody class="flex-1 sm:flex-none">
              <% @users.each do |user| %>
            <tr class="flex flex-col flex-no wrap sm:table-row mb-3 sm:mb-0">
                <td class="border-grey-light border hover:bg-gray-100 p-3"><%= user.id %></td>
                <td class="border-grey-light border hover:bg-gray-100 p-3"><%= Role.find(user.role_id).role_name %></td>
                <td class="border-grey-light border hover:bg-gray-100 p-3"><%= user.email %></td>
                <td class="border-grey-light border hover:bg-gray-100 p-3"><%= user.created_at.to_date %></td>
                <td class="border-grey-light border hover:bg-gray-100 p-3"><%= link_to 'Edit Account', admins_edit_path(user.id), class:"p-2 bg-green-500 text-gray-50 rounded-md"%></td>
            </tr>  
             <% end %>
			</tbody>
		</table>
        <% else %>
            <p>There are no Registered Users at the application</p>
        <% end %>
	</div>
</div>

<style>
  html,
  body {
    height: 100%;
  }

  @media (min-width: 640px) {
    table {
      display: inline-table !important;
    }

    thead tr:not(:first-child) {
      display: none;
    }
  }

  td:not(:last-child) {
    border-bottom: 0;
  }

  th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
  }
</style>







   
    
  


 
 




   


