<%= form_tag(search_stock_path, :method => "get", style: "") do %>
  <div>
    <div class="p-8">
      <h1 class="text-4xl font-bold text-pink-600 text-center mb-5">Search Stock</h1>
      <div class="bg-white flex items-center rounded-full shadow-xl">
        <%= search_field_tag :search, params[:search], placeholder: "#{ flash[:valid_ticker] ? flash[:valid_ticker] : flash[:valid_ticker] }", class: "rounded-l-full w-full py-4 px-6 text-gray-700 leading-tight focus:outline-none" %>
        <div class="p-4">
          <i class="fas fa-search flex items-center cursor-pointer">
            <%= button_tag "", :name => nil %>
          </i>
        </div>
      </div>

      <% if @stock %>
        <br><br><br><br><br>
        <div class="max-w-lg rounded overflow-hidden shadow-lg flex justify-center items-center m-auto">
          <div class="px-6 py-4 w-96">
            <div>
              <div class="font-bold text-xl mb-2">Company Name</div>
              <h1 class="form-control"><%= @stock.company_name %></h1>
            </div>
     
            <div>
              <div class="font-bold text-xl mb-2">Symbol</div>
              <h1 class="form-control"><%= @stock.ticker %></h1>
            </div>

            <div>
              <div class="font-bold text-xl mb-2">Stock Price</div>
              <h1 class="form-control"><%= @stock.stock_price %></h1>
            </div>
            <br>
            <%= link_to get_buy_stock_path(@stock.ticker) do %><button class="bg-blue-700 hover:bg-blue-500 p-2 text-white cursor-pointer rounded flex justify-center pt-3 pb-3 w-full">Buy</button><% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>


  


