<h1>HELLO, <%=@supplier.first_name %> <%=@supplier.last_name %></h1>

<% if supplier_signed_in? %>
<h3>Publish a Service</h3>
<hr>
<%= form_with model: [ @supplier, @supplier.services.build ] do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  
  <div class="form-group">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>
  
  <div class="form-group">
    <%= form.label :category %>
    <%= form.select :category, Service::VALID_CATEGORIES %>
  </div>
  
  <div class="form-group">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  
  <%= form.submit %>
<% end %>
<% end %>


<h3>Services</h3>
<table>
<thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Price</th>
    <th scope="col">Category</th>
    <th scope="col">Location</th>
    <th scope="col">Service Id</th>
  </tr>
</thead>
<% @services.each do |service| %>
  <tbody>
    <tr>
      <td><%= service.name %></td>
      <td><%= service.price %></td>
      <td><%= service.category %></td>
      <td><%= service.location %></td>
      <td><%= service.id %></td>
      <td><%= link_to "Edit service", edit_service_path(service_id: service.id) %></td>
      <td><%= link_to "Show service", service_path(service_id: service.id) %></td>
    </tr>
  </tbody>
<% end %>
</table>


<%= link_to 'Logout',  destroy_supplier_session_path, method: :delete %>
