<header>
        <div class='container'>

            <nav>
                <ul>
                    <li><img src="/images/avstonks.png"/></li>
                    <li><%= link_to "Home", root_path %></li>
                    <li><%= link_to "Trade", trade_path("BTC") %></li>
                    <li><%= link_to "Wallet", root_path %></li>
                    <% if current_user&.admin? %>
                    <li><%= link_to "Administrator controls", admins_path %></li>
                    <% end %>
                    <% unless current_user %>
                    <li><%= link_to "Sign Up", new_user_registration_path %></li>
                    <li><%= link_to "Sign In", new_user_session_path %></li>
                    <% else %>
                    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                    <% end %>
                </ul>
            </nav>

        </div>
</header>