<nav class="nav1">
  <div class="container1">
    <div class="logo animate__animated animate__fadeIn">
      <a href="">Stock App</a>
    </div>
    <div id="mainListDiv" class="main_list">
      <ul class="navlinks">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Buyer", new_buyer_session_path %></li>
        <li><%= link_to "Broker", new_broker_session_path %></li>
        <li><%= link_to "Admin", new_admin_session_path %></li>
        <% if buyer_signed_in? %>
        <li><%= link_to "Sign out (Buyer)", destroy_buyer_session_path, method: :delete %></li>
        <% end %>
        <% if broker_signed_in? %>
        <li><%= link_to "Sign out (Broker)", destroy_broker_session_path, method: :delete %></li>
        <% end %>
        <% if admin_signed_in? %>
        <li><%= link_to "Sign out (Admin)", destroy_admin_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
    <span class="navTrigger">
      <i></i>
      <i></i>
      <i></i>
    </span>
  </div>
</nav>