<header>
        <div class='container'>

            <nav>
                <ul>
                    <li><%= link_to "Home", root_path %></li>
                    <li><%= link_to "Trade", trade_path(base: "BTC", target: "USDT", id:9) %></li>
                    <li><%= link_to "Wallet", root_path %></li>
                    <% unless current_user %>
                    <li><%= link_to "Sign Up", new_user_registration_path %></li>
                    <li><%= link_to "Sign In", new_user_session_path %></li>
                    <% else %>
                    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                    <% end %>
                </ul>
            </nav>

        </div>
</header>