<nav class="navbar navbar-expand d-flex flex-column align-item-start" id="sidebar">
  <a class="navbar-brand text-light mt-5">
    <div class="display-5"><%= link_to 'PHinance.io', root_path %></div>
  </a>
  <ul class="navbar-nav d-flex flex-column mt-5 w-100">
    <li class="nav-item">
      <a class="nav-link"><%= link_to 'Home', root_path %></a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link"><%= link_to 'Register', new_user_registration_path %></a>
    </li>

    <li class="nav-item">
      <a class="nav-link"><%= link_to 'Sign in', new_user_session_path %></a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></a>
    </li>

    <li class="nav-item">
      <a class="nav-link"><%= link_to 'Mainbook', mainbook_path%></a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link"><%= link_to 'Minibooks', minibooks_path%></a>
    </li>
  </ul>
</nav>
