<%= link_to "Products", products_path %> <%# For Testing Only%>
  <%= link_to "Pricing", pricing_path %>
  <% if current_user %> <%# For Testing API SUBSCRIPTION ONLY%>
      <%= link_to "Billing Portal", billing_portal_create_path, method: :post %>
      <%= link_to current_user.email, edit_user_registration_path %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <h6>Stripe Customer ID:<%= current_user.stripe_customer_id %></h6>
    <h6>Plan:<%= current_user.plan %></h6>
    <h6>Subscription Status:<%= current_user.status %> 
  <%end %>
  