<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand brand ms-3" href="#">stockjobber</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 me-3 mb-lg-0">
      <%if user_signed_in?%>
        <li class="nav-item">
          <%=link_to marketplace_path,{ :class => 'nav-link link-dark'}   do%>
            <i class="fas fa-chart-line 2x icon"></i>Stock Market
          <%end%>   
        </li>
        <li class="nav-item">
          <%=link_to stock_search_path,{ :class => 'nav-link link-dark'}   do%>
            <i class="fas fa-search-dollar icon"></i>Search Stock
          <%end%>  
        </li>
        <li class="nav-item">
        <%=link_to my_portfolio_path,{ :class => 'nav-link link-dark'}   do%>
          <i class="fas fa-home icon"></i>My Portfolio
        <%end%>
        </li>
        <li>
          <%=link_to transactions_path,{ :class => 'nav-link link-dark'}   do%>
            <i class="far fa-list-alt icon"></i>Transactions
          <%end%>   
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
           <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
           <strong>mdo</strong>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to('Sign out', destroy_user_session_path, method: :delete) %> </li>
            </ul>
        </li>
        <%else%>
         <li class="nav-item">
          <%=link_to new_user_session_path,{ :class => 'nav-link link-dark'}   do%>
            <i class="fas fa-sign-in-alt icon"></i>Sign_in
          <%end%>   
         </li>
         <li class="nav-item">
          <%=link_to new_user_registration_path,{ :class => 'nav-link link-dark'}   do%>
            <i class="fas fa-user-plus icon"></i>Sign_up
          <%end%>   
         </li>
        <%end%>
      </ul>
    </div>
  </div>
</nav>