<!DOCTYPE html>
<html>
  <head>
    <title>Peddler - Stock Trading App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application',media: 'all','data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('peddler_icon.png') %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
