<!DOCTYPE html>
<html>
  <head>
    <title>PHinance.io</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
  <%= render 'layouts/sidebar' %>
    <section class="p-4 my-container">    
      <button class="btn my-4" id="menu-btn">Menu</button>
      <%#= render 'layouts/stripe_nav_test'%>
      <%= render 'layouts/notice_alert'%> 
      <%= yield %>
    </section>
  <%= render 'layouts/footer'%>
  </body>
  <%= javascript_pack_tag 'sidebar_button' %>
</html>
