<!DOCTYPE html>
<html>
  <head>
    <title>PHinance.io</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>>
  </head>
  
  <body>
  <%= render 'layouts/navigation'%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  <footer class = "footer">
    created by: Andrea Pauline D. De Guzman, Bryan Arboleda, and Curt Steven Choy © 2021
  </footer>
  </body>
</html>
