<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Rails Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
  <% if user_signed_in? || admin_logged_in? %>
  <body class="<%= controller_name%>-<%= action_name%>">
    <%= render 'shared/nav_bar'%>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer'%>

  </body>
</html>
