<!DOCTYPE html>
<html>
  <head>
    <title>Rails Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class='landing-container'>
    <div class='landing-navbar'>
        <a href ='/'>
            <%= image_tag('Swift.png', :alt => 'SWIFT Logo', class:'app-logo') %>
        </a>
        <div class='landing-cta'>
            <%= render 'layouts/navbar'%>
        </div>
    </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
