<!DOCTYPE html>
<html>
  <head>
    <title>Rails Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <nav>
          <div class="title-container"><h1><%= link_to "Aviontrade", root_path() %></h1></div>
          <div class="menu-container">
            <% if user_signed_in? %>
              <span class=menu-item><%= link_to "My Porfolio", stock_view_my_stocks_path() %></span>
              <span class=menu-item><%= link_to "Latest Transaction", stock_view_transactions_path() %></span>
              <span class=menu-item><%= link_to "Logout", destroy_user_session_path(), method: :delete %></span>
            <% end %>
            <% unless user_signed_in? %>
              <span class=menu-item><%= link_to "Login", new_user_session_path() %></span>
              <span class=menu-item><%= link_to "Register", new_user_registration_path() %></span>
            <% end %>
          </div>
        </nav>
      </header>
    </div>
    <div class="yield-container">
    <% if flash[:notice] %>
      <p class="notice" id="notice-id"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
    <p class="alert" id="alert-id"><%= alert %></p>
    <% end %>
        <%= yield %>
     
    </div>
    
  </body>
</html>
