<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Investonks.</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
=======
    <title>Investonks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
>>>>>>> 9dd218210259a1f53d6f3f82b7aef771b3a946e9
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <%= render 'layouts/messages' %>
    <%= yield %>

  </body>
</html>
