<!DOCTYPE html>
<html>
  <head>
    <title>Rails Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="<%= append_admin_style_parent_container("container-app") %>" >
      <%# <%= render 'layouts/alerts'%>
      <section class="container-app_main">
        <%= render 'layouts/navigation'%>
        <main>
          <%= yield %>
        </main>
      </section>
      <section class="<%= append_admin_style("container-app_footer") %>">
        <footer>
          Created by Christian Michael Dollosa & Andrea Pauline De Guzman. © 2021
        </footer>
      </section>
    </section>


    <%# floating modals %>
    <div class="modal fade" id="applicationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" role="dialog">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        
      </div>
    </div>

    <%# show method modal %>
    <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" role="dialog">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        
      </div>
    </div>
  </body>
</html>
