<!DOCTYPE html>
<html>
  <head>
    <title>Stock Trading App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
    <%= stylesheet_pack_tag "application", media: "all" %>
    
  </head>

  <body>
    <% if user_signed_in? %>
        <%= render "shared/navbar" %> 
    <% else %>
        <%= render "shared/navbar" %>

    <% end %>


    <div class="container">
      <% flash.each do |name, msg| %>
      <% unless msg == "Signed in successfully." || "Signed out successfully." || "Invalid Email or password." %>
        
      <div class="columns is-centered notif mt-1">
        <div class="column is-half notification is-<%= name %> has-text-centered mt-1">
        <span class="is-size-5 has-text-weight-bold has-text-centered"><%= msg %></span>
      </div>
      </div>
      <% end %>
        <% if msg == "Signed in successfully." || "Signed out successfully." && msg != "Invalid Email or password." %>
        <div class="columns is-centered notif mt-1">

          <div class="column is-half notification is-success has-text-centered mt-1">
        <span class="is-size-5 has-text-weight-bold has-text-centered"><%= msg %></span>
      </div>
        </div>
        <% end %>
        <% if msg == "Invalid Email or password." %>
        <div class="columns is-centered notif mt-1">

          <div class="column is-half notification is-danger has-text-centered mt-1">
        <span class="is-size-5 has-text-weight-bold has-text-centered"><%= msg %></span>
      </div>
        </div>
        <% end %>
        
    
      
      <% end %>
      <%= yield %>
    </div>
    <%= javascript_pack_tag "index" %>
  </body>
</html>
