<!DOCTYPE html>
<html>
  <head>
    <title>Stock App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%# <script src='https://unpkg.com/dailychart/dist/dailychart.min.js'></script> %>
  </head>

  <body class="position-relative">
    <%= render "home/navbar" %>
    <div class="container">
      <br>
      <%= render "home/flash" %>

      <%= yield %>
    </div>
  </body>
  <%= javascript_pack_tag 'dailychartsrun.js' %>
</html>
