<!Doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap CSS -->
   <title>Stock Flame</title>
  </head>
  <body>
    <% unless request.fullpath.start_with?('/admins/') %>
      <br/>
      <%= render 'home/header' %>
      <div class='container'>
        <br/>
        <%= yield %>
      </div>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <% else %>
      <div class='container'>
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
