<!DOCTYPE html>
<html>
  <head>
    <title>Kalakalph</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('kalakalph_logo.svg') %>
  </head>

  <body>
    <%= render "partials/navbar" %>
    
    <% unless user_signed_in? %>
      <%= render 'partials/flash' %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
