<section class="container-static">
  <div class="img-form-page">
    <%= render_svg('signup_page.svg') %>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      <%= f.text_field :full_name, autofocus: true, autocomplete: :off, placeholder: "Full Name" %>
      <%= f.text_field :username, autofocus: true, autocomplete: :off, placeholder: "Username" %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (6 characters minimum)" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password" %>
    </div>
    <div class="actions">
      <%= f.submit "Create Account" %>
    </div>
  <% end %>
  <%= render "users/shared/links" %>
</section>
